[2018-06-20 02:47] lwazevedo opened #3 "remove border-top-style mat-divider, cursor pointer, routerlink"
Hi,

Can not get border-top-style and border-whidth and border-top-color of component mat-divider?

I've tried these ways:

.```
mat-divider {
    border-top-width: 0px! important;
    border-top-style: none! important;
}
[code]
.mat-divider.mat-divder-inset {
    border-top-width: 0px! important;
    border-top-style: none! important;
}

[code]

[2018-06-20 04:05] ShankyTiwari commented on #3
Hi there,
You give your custom class name( shown below) and modify the styling according to need
[code]
=> If you don't want `<mat-divider>` border, then do something like this in your style.css file,
[code]

=> In order to modify the cursor, in your style.css file,
[code]

=> Is it also not possible to use routelink?
Sorry, it's not supported, you'll have to manage it on your own.

If something d

[2018-06-22 17:08] ershad1 opened #4 "Selected menu background color."
Hello,
If i want to highlight selected menu.

For instance company is clicked. i want different background for companay menu.
 How to do that?
![image](https://user-images.githubusercontent.com/22111939/41789407-03209f66-7671-11e8-8f41-fef5d344da2f.png)

[2018-06-22 19:16] lwazevedo commented on #3
=> If you don't want <mat-divider> border, then do something like this in your style.css file,

.my-custom-class .mat-divider{
    border-top-style: none !important;
}
=> In order to modify the cursor, in your style.css file,

.my-custom-class .amml-item{
    cursor: pointer;
}

It did not work. But thanks for the help.

[2018-06-23 04:09] ShankyTiwari commented on #3
Strange!
Did you take the clone of [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)?
Also, in which file you wrote these styles?

Thanks,

[2018-06-23 04:30] ShankyTiwari commented on #4
Hi there,
As of now, this feature is not available but It's a nice to have feature. I was thinking about to something like [this](https://www.cssscript.com/demo/multilevel-accordion-menu-with-plain-html-css) or [AngularJs material's Menu](https://material.angularjs.org/latest/). What do you think?

I will try to put this on the table ASAP.

Thanks

[2018-06-23 07:42] ershad1 commented on #4
Hi, Godd Afternoon,
Thanks for the reply,
My favourate is angular.io docs
https://angular.io/guide/ngmodules

[2018-06-23 08:17] ShankyTiwari commented on #4
Hi there,
Thanks for the suggestion, I will look into it.

[2018-07-01 06:14] ShankyTiwari commented on #4
Hi @ershad1 ,
Please update the module to the latest version, I have added this feature.
Also, more demos can be found **[here](http://plugins.codershood.info/#/plugins/ngmm-plugin)**.

[2018-07-01 06:16] ShankyTiwari commented on #3
Closing due to inactivity.

[2018-07-01 06:16] #3 closed

[2018-07-01 13:30] ershad1 commented on #4
Hi @ShankyTiwari
Thank you very much sir!

[2018-07-04 04:39] ShankyTiwari commented on #4
Fixed.

[2018-07-04 04:39] #4 closed

[2018-07-05 05:56] adhavD opened #5 "Menu Active states incorrect,"
When I use Json files for menu data... if I click any menu all item get active state...

Also I want to know how any menu select by default without click the menu item.

[2018-07-05 06:06] ShankyTiwari commented on #5
Hi @adhavD, thanks for creating the issue here.
Based on our last conversation,  I thought your issue was solved. What version of *ng-material-multilevel-menu* you are using?

But anyway, if you are still facing this issue, then please provide some more light on the issue. Coz am not getting you here, I just checked the code and it's working on my end.

[2018-07-05 06:08] adhavD commented on #5
Did you test with external JSon data without hardcode?

[2018-07-05 06:09] ShankyTiwari commented on #5
No. Let me check.

[2018-07-05 06:17] adhavD commented on #5
If I select any menu item, all items changed to selected state, Here I attached json files and issue [screenshot.](url
![issue](https://user-images.githubusercontent.com/3593066/42305519-e956e982-8048-11e8-958c-6fb542a5c311.png)
![json](https://user-images.githubusercontent.com/3593066/42305570-1f8e1688-8049-11e8-852e-ad6d1483e443.png)

)

[2018-07-05 06:22] ShankyTiwari commented on #5
Yes, there is something wrong. I'll fix it soon.

[2018-07-05 06:29] adhavD commented on #5
I also know the solution, but I don't know its correct way or not.
We nee some unique id for each menu item like this,
![id](https://user-images.githubusercontent.com/3593066/42305865-88993a76-804a-11e8-9b4a-718b76a70a04.png)

[2018-07-05 06:48] ShankyTiwari commented on #5
Yeah, that's how managing it.
I just tested with JSON file and found it's not a bug. You should use ```*ngIf```, while you are fetching your JSON data. try something like this,

[code]

[2018-07-05 06:56] ShankyTiwari commented on #5
Actually, you get warning in the console, as shown below

![error](https://user-images.githubusercontent.com/15548024/42306830-1e2db528-804e-11e8-9374-a8404e0402b5.png)

The reason for that warning is, the ```items``` input gets an empty array. I will add a better way to show the warning in next update.

[2018-07-05 06:56] #5 closed

[2018-07-05 06:56] ShankyTiwari commented on #5
Feel free to reopen the issue, if you have any other problem.

[2018-07-06 06:19] ShankyTiwari commented on #4
Hi @adhavD
Please take the clone of this [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo), So you can compare the config n all.
Let me know if, you are still facing any issue.

[2018-07-06 06:34] ShankyTiwari commented on #4
Okay, I got your point, I have updated the [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo), please check.

[2018-07-06 06:41] ShankyTiwari commented on #4
Maybe in future, will add this feature as well.

[2018-07-06 11:26] adhavD opened #6 "Default Selection"
Hi,

Any option for Menu selection by default,  when enter the page?

 For example when  i enter in web site home page viewed.. at the same time home menu need to go selected state.

[2018-07-06 15:20] ShankyTiwari commented on #6
Hi @adhavD, Unfortunately Routing and it's related user cases are not supported yet. But I am seriously considering to add Routing interface and other routing-related features in next update, please stay with me.

[2018-07-06 15:20] #6 closed

[2018-07-13 18:48] PierBJX opened #7 "Open the menu when initialised"
Hi,
I am using your ng-material-multilevel-menu for a MEAN stack project that I am doing.
It works properly and I would like to thank you for that!

However, I would like to know if there was an option or a way to display all the items when initialized instead of clicking on it ?

Thank you,
Regards,

[2018-07-13 23:07] ShankyTiwari commented on #7
Hi there,
Sorry to disappoint you, it's not yet available. But I am gonna add Angular Routing interface in the next update and it will be out probably in the last week of this month or the first week of the next month.
Just one question though, you need this use case while routing between pages or for something else?

[2018-07-13 23:23] PierBJX commented on #7
Actually I succeed to add a routing interface like this:

**html:**
`<ng-material-multilevel-menu [items]='appitems' (selectedItem)="redirect($event)"></ng-material-multilevel-menu>`

**component:**
[code]
What I would like to know is that instead of having this when the page initialised:
![image](https://user-images.githubusercontent.com/22519163/42717878-1528d5d4-86fc-11e8-8cba-a7944854972e.png)

[2018-07-14 08:52] PierBJX commented on #7
Alright no problem.
This will be in the next update in the last week of this month or the first week of the next month ?

Thank you.

[2018-07-14 09:48] ShankyTiwari commented on #7
Actually, I am on a very tight schedule because of my day job. But it shouldn't take longer than the first week of the next month. I will ping you once I'll publish the update.
Thanks for your patience.

[2018-07-14 11:52] PierBJX commented on #7
Alright, no problem.
Thanks for your help !

[2018-07-18 06:34] TheDino000 opened #8 "Refreshing / translating menu"
I would like to translate the menu using ngx-translate.
When user changes language I need to reload the menu or replace it's labels.
Is there a way to replace labels or update items?

[2018-07-18 09:10] ShankyTiwari commented on #8
I'll add this in next update.

[2018-07-18 09:14] TheDino000 commented on #8
Thank you.

[2018-07-18 09:42] ShankyTiwari commented on #8
Please do not close this issue till I add this feature.

[2018-07-18 09:45] TheDino000 commented on #8
Of course, no problem.

[2018-07-20 13:27] hectoryo opened #9 "Call function instead of routing"
Hi, I'm using your menu to navigate throught different pages, but I want to make a last entry to sign out. Is there any way to call a function that performs the logout when I click?

[2018-07-23 22:11] ShankyTiwari commented on #9
Hi there,
Thank you for opening the issue. Right now am working on this module only, once rest of the issues are fixed I will look into this one and I will ping you.
Till then can I suggest you, to use Switch-Case mechanism.
Thanks.

[2018-07-27 17:50] pauloeugenioreis opened #10 "external link"
Do not have the option to put external link? Out of application

[2018-07-27 18:00] ShankyTiwari commented on #10
Will do in the next update. Should be out at the end of the next week, i.e. Sunday.

[2018-07-30 23:01] #7 closed

[2018-07-30 23:02] ShankyTiwari commented on #7
Added.

[2018-07-30 23:02] ShankyTiwari commented on #10
Done.

[2018-07-30 23:02] #10 closed

[2018-07-30 23:07] ShankyTiwari commented on #8
Hi there, I have updated the module to check for new array instance. Though I haven't tested with ngx-translate, please check and let me know.

Just in case, when you are using array ```push()```, do not forget to ```slice()``` as shown below,
[code]

Thanks and regards,

[2018-07-30 23:07] #8 closed

[2018-07-31 07:56] PierBJX commented on #7
I don’t see how to make the multilevel list opened by default. How can I make it ?
Thanks

[2018-07-31 08:09] ShankyTiwari commented on #7
The menu should expand based on route change automatically.
Or do you want to expand all menus, when component renders it?

[2018-08-01 07:10] hectoryo commented on #7
Hi guys, as far as I understand, with this feature, if I route to a direction that is included in one of the routes of the menu, the entry should be highlighted, right?
If this is the case, is it necesay to enable it somwhere? I've updated to version 4.0.1 of the package, but I don't see the meu to change automatically.

[2018-08-01 07:34] ShankyTiwari commented on #7
From the above comment, I understand that the menu is not responding to a route change, isn't it?
In that case, can I ask you to refer this [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)!
Please let me know if your issue is solved.

[2018-08-01 08:42] ShankyTiwari commented on #7
Cool.

[2018-08-01 10:04] PierBJX commented on #7
Yes I would like to expand all menus, when component renders it without route change

[2018-08-01 10:11] ShankyTiwari commented on #7
@PierBJX, This was not in the scope of current update. But It's nice to have feature, will do in the next update. It would be something like this (Probably),
{
    label: 'Item 1.1',
    link: '/item-1-1',
    faIcon: 'fab fa-accusoft',
    expanded: true
}
This node and it's parent will be in expanded state. Cool ?

[2018-08-01 12:40] hectoryo commented on #7
@ShankyTiwari I've appreciated an unexpected behaviour with the automatic selection.
I'm using an *ngIf to hide the menu when I'm in the login view (wich btw is not included in the menu). When I route to another view and the menu is enabled, no entry is highlighted

[2018-08-01 15:51] PierBJX commented on #7
@ShankyTiwari
Yes it's exactly what I am looking for !

[2018-08-01 21:31] ShankyTiwari commented on #7
@hectoryo, It would be very helpful for me to debug if you can reproduce a repo on GitHub or Stackblitz.

Thanks,

[2018-08-01 21:32] ShankyTiwari commented on #7
@PierBJX, Will do very soon.

[2018-08-02 06:56] hectoryo commented on #7
@ShankyTiwari i've created a fork of your project with the issue replicated
https://github.com/hectoryo/ng-material-multilevel-menu-demo

[2018-08-02 08:42] ShankyTiwari opened #11 "Menu is not responding to a route change when NgIf is used"
The root cause of the issue is, Route change was never detected because ```NgIf``` removed the element from the DOM tree. Basically, this menu detects the route change on ```NavigationEnd``` instance of Angular Route.
By the time ```NgIf``` displays the menus, ```NavigationEnd``` event never happens for the Menu, beacuse it is alreday passed.
While I fix the issue, I have a solution, Please ```ngC

[2018-08-02 08:46] ShankyTiwari commented on #7
@hectoryo , Thank you for the repo, please find the more info in #11.

[2018-08-02 14:14] JoaoPortella opened #12 "Suggestion: indent submenu items"
I think it might be a good idea to view the items as if they were displayed in a hierarchical tree.

Thanks for Component!

[2018-08-02 19:31] JoaoPortella opened #13 "Selected item color"
The color of the selected item does not appear in my application like your example. I believe that may be some conflict with some other component. Is there any class that can be modified to force the color change when an item is selected?

[2018-08-03 03:07] ShankyTiwari commented on #13
Hi there,
You can give class name using ```configuration``` input to entire Menu. The selected Item has ```selected-amml-item``` class.
If it is possible for you to create a repo or Stackbliz that would be helpful.

Thanks

[2018-08-03 03:13] ShankyTiwari commented on #12
By indentation, I assume you want some padding applied at the start of submenu items. If that the case we got that.

Check the [demo](http://plugins.codershood.info/#/plugins/ngmm-plugin) or clone this [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo) its has more demos.

Thanks

[2018-08-03 13:02] JoaoPortella commented on #13
Hi,
Thanks for the quick response. Everything works fine on a new project. I believe there is some conflict when I use it with my template. I'll investigate and try to figure out the problem.

[2018-08-03 13:02] #13 closed

[2018-08-03 13:04] JoaoPortella commented on #12
Sure.
I believe there is some conflict in my application.
Thanks!

[2018-08-03 13:04] #12 closed

[2018-08-04 02:37] ShankyTiwari commented on #13
Cool, let me know if something needs to be done from side.

[2018-08-13 11:03] hectoryo opened #14 "Log appearing everytime an entry is clicked"
Could you please remove this log?
After navigating a while in my page and opening the console, I've seen it full of this log
![captura de pantalla 2018-08-13 a las 12 55 51](https://user-images.githubusercontent.com/5202409/44028081-06970c60-9ef9-11e8-940a-a41a9ab06a70.png)
I think it's because of this log:
https://github.com/ShankyTiwari/ng-material-multilevel-menu/blob/087445604db5d584d22577c049

[2018-08-14 05:10] ShankyTiwari commented on #14
Sorry, I forgot to remove that. In the upcoming update, this will be gone.

[2018-08-19 22:03] #11 closed

[2018-08-19 22:03] ShankyTiwari commented on #14
Fixed.

[2018-08-19 22:03] #14 closed

[2018-08-19 22:04] ShankyTiwari commented on #11
Fixed.

[2018-08-20 16:39] ershad1 opened #15 "If mouse over full text should display."
![image](https://user-images.githubusercontent.com/22111939/44353719-b103d400-a4c9-11e8-8159-86de84503005.png)

label: 'Item 1 (with Font awesome icon)'
but i only show Item 1 ( With

if i put mouse over the text the full text should show as hover text or similar.

[2018-08-20 21:04] ShankyTiwari commented on #15
Will do in the next update.

[2018-08-21 13:44] ershad1 opened #16 "Option to use outline icon in the menu"
Reference to this issue
https://stackoverflow.com/questions/50358473/how-can-i-get-angular-material-icon-to-show-the-outline-in-my-angular-app

i can not use https://material.io/tools/icons/?style=outline
icon
like this one
https://material.io/tools/icons/?search=home&icon=home&style=outline

 {
      label: 'Home',
      link: '/home',
      icon: 'home_outline'
    },

do not work

[2018-08-23 09:54] michael-aquilina opened #17 "export 'defineInjectable' was not found in '@angular/core'"
Are there any minimum requirements for this module? I'm getting the error below, maybe its because I'm using Angular 5?

Error:
[code]

Below is my setup:
[code]

[2018-08-23 21:31] ShankyTiwari commented on #16
Coming in the next update.

[2018-08-23 21:33] ShankyTiwari commented on #17
I never tested this module below Angular 6 Project.
It would be very helpful if you provide a small repo, Though I will check at my end as well.

[2018-08-24 16:04] michael-aquilina commented on #17
Can you try accessing this [repo](https://github.com/michael-aquilina/multilevelnode_issue-17)? Run "ng serve" in the root and the error should be shown.

[2018-09-02 15:31] ShankyTiwari commented on #17
Hi, can you try this solution?
https://stackoverflow.com/questions/50566835/typeerror-object-is-not-a-function-at-eval-platform-es5-js79-at-eval-p/50569557

Thanks

[2018-09-04 20:44] iamhussain opened #18 "Collapse current parent on opening another parent"
I want that when one is dropped others should collapse. something similar to https://keenthemes.com/metronic/preview/angular/default/.

[2018-09-04 21:09] ShankyTiwari commented on #16
From the last couple of days, I was trying to make it work by applying some decent hack. But, I haven't found any decent way to add this.
To my knowledge and according to [this SO answer](https://stackoverflow.com/questions/50303454/how-to-use-the-new-material-design-icon-themes-outlined-rounded-two-tone-and?answertab=votes#tab-top), there is no official way of adding these icons yet.
If you have

[2018-09-04 21:45] #15 closed

[2018-09-08 07:47] #9 closed

[2018-09-08 07:47] #18 closed

[2018-09-08 07:48] ShankyTiwari commented on #18
Done.

[2018-09-08 07:48] ShankyTiwari commented on #9
Done.

[2018-09-11 15:17] sebastienpattyn93 opened #19 "Routing not working with routes with spaces"
I created a menu that is having links with spaces . When there are no special characters (`%20`) my route is always highlighted in the menu, but when the route contains a space it is not highlighting the right item in the menu.

[2018-09-11 20:01] lucasbrelaz opened #20 "Internationalization"
Do you have any forecast of when there will be an option for internationalization?

[2018-09-11 20:39] ShankyTiwari commented on #20
Hi, I think it should work with multilingual Data. Also, this [thread](https://github.com/ShankyTiwari/ng-material-multilevel-menu/issues/8) may help you.
May I know which module you are using for Internationalization?

Thanks

[2018-09-11 20:42] ShankyTiwari commented on #19
Hi @sebastienpattyn93 ,
Can you please provide tiny repo, it would be very helpful.

Thanks,

[2018-09-12 13:00] lucasbrelaz commented on #20
Hi, the internationalization works however when we change the language we need to reload the page to reload the translated data. Using NGX Translate.

[2018-09-14 07:10] ShankyTiwari commented on #20
True. When the user changes the language you can reload the menu or replace its labels by passing an updated array with new labels.

[2018-09-14 11:54] Applicafroguy opened #21 "mat-divider"
how do you remove the mat-divider

[2018-09-14 12:30] anushapadakanti opened #22 "On collapse Can I show only icons?"
Currently on collapse complete side nav visibility is hidden.
Can I show only the Icons on collapse?

[2018-09-17 03:28] ShankyTiwari commented on #22
Hi @anushapadakanti ,
I didn't catch you here! Are you looking for something [like this](https://www.codeply.com/go/ecE6qHNBOC)?

Thanks,

[2018-09-17 15:55] anushapadakanti commented on #22
Yes exactly,even if I resize window also it should show icon
Is this possible with this  plugin ?

Thanks in advance

[2018-09-18 04:40] ShankyTiwari commented on #22
Hi,
No, it's not possible using configuration settings. But you can use below CSS to hide `label `and `arrow`, the normal functionality will works as expected.
[code]

You can CSS Media queries in case window resize, as shown below,

[code]
Though I haven't tested this code, but it should work.
Thanks,

[2018-09-18 04:40] #22 closed

[2018-10-10 22:18] pklejnowski opened #23 "Styles are broken when using Menu within <mat-card>"
If `<app-business-menu>` is used inside `<mat-card>` then styles (gray lines) seems to be broken.

![image](https://user-images.githubusercontent.com/28590512/46769068-db645780-ccea-11e8-8091-fe62a20843fb.png)

However I noticed that If i remove `position: relative` here:
![image](https://user-images.githubusercontent.com/28590512/46769110-0058ca80-cceb-11e8-9d9a-90928f68e1a7.png)

Then it looks o

[2018-10-12 10:06] ShankyTiwari commented on #23
Hi there Sorry for the replying late. I will look into it meanwhile can you please help me with the repo.
Thanks,

[2018-10-12 12:52] pklejnowski opened #24 "Request for new method (selectedLabel)="selectedLabel($event)"
Currently this package has only `(selectedItem)="selectedItem($event)`
It would be great to have `(selectedLabel)="selectedLabel($event)` also.
Because sometimes I'd like to know which Menu Category has been selected thanks to that I could display all its subcategories. Can you add it, please?

[2018-10-12 13:01] ramprakashram opened #25 "Enable Custom image as Icon."
It would be much better,if you have an option for setting an custom image as Icon.

[2018-10-20 04:16] ShankyTiwari commented on #25
Sure, in the next update.

[2018-10-20 04:40] ShankyTiwari commented on #24
It's Nice to have feature. I will add it.

[2018-10-20 12:09] pklejnowski commented on #23
Hi, here u go:
https://stackblitz.com/edit/angular-xait6m?file=src/app/app.component.html

[2018-10-21 03:50] techechie opened #26 "Routing Not working"
How do i navigate to another route? How do I need to make the link in config array working.

[2018-10-21 16:21] ShankyTiwari commented on #26
hi @techechie , can you crosscheck the example of routing used [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)?

[2018-10-23 11:33] IamSef commented on #7
Hi, may I know how to use the custom class? I tried to change the font size but it won't take effect.

[2018-10-24 05:15] ShankyTiwari commented on #7
Hi @IamSef , can you take a clone of this [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)! There are examples which uses the custom class with the list.
Thanks

[2018-10-25 21:47] StavM commented on #23
as a temporary bypass you can set the inner divider's z-index to 1
until this issue is resolved.
[code]

[DEMO](https://stackblitz.com/edit/angular-ukjgpf?file=src/styles.css)

[2018-10-28 15:55] Sibertius opened #28 "Does this package works in Angular 7 Project?"
Does it work with Angular 7?

[2018-11-04 10:46] #19 closed

[2018-11-04 10:46] #23 closed

[2018-11-04 10:46] #24 closed

[2018-11-04 10:46] #25 closed

[2018-11-04 11:08] ShankyTiwari commented on #23
Hi, there I have fixed the issue. If you encounter any problem please let me know.
Thanks for having patience.

[2018-11-04 11:09] ShankyTiwari commented on #19
Fixed.

[2018-11-04 11:51] ShankyTiwari commented on #28
Yes, it does. Let me know if you have issues.

[2018-11-04 11:51] #28 closed

[2018-11-05 06:24] ShankyTiwari opened #30 "Need someone to write Test cases for this package."
Due to my hectic schedule, I can't dedicate to much time to this package. If someone can contribute and write Test cases for this package, then that would be very helpful.
Thanks,

[2018-11-05 16:21] StavM opened #31 "some routes don't "activate" the corresponding menu item when redirected by angular"
There's an issue where if you define a route with 'redirect'. the route is recognized by angular, but the menu item isn't responding as you would expect.

so if my route object is this:
[code]

and i navigate to

the route is changed to `/#/aa/a` by the angular router, though the corresponding menu item, isn't being activated and expanded accordingly.

bug can be seen here : [Stackblitz Demo](http

[2018-11-05 17:46] ShankyTiwari commented on #31
I will look into it ASAP,

[2018-11-09 09:59] tmeghe opened #33 "How selectedItem works ?"
Hello,

Just a quick question about how `(selectedItem)` works, I can't figure it myself. My appItems array has a special field with a special value I want to send to a service when the link is clicked. I tried to add a onSelect property to my object without success.

Could you please give me some advice ?

Thanks a lot,

[2018-11-09 11:19] ShankyTiwari commented on #33
Hi @tmeghe ,
To use ```(selectedItem)```  output event, you need to create a method in your component class, which will be called by  ```(selectedItem)``` output event.

For example,
[code]
Now you will create a method called ```exampleMethod($event)``` in your component class.
Eg.
[code]
This is how ```selectedItem()``` works.
Similarly, you can try for ```selectedLabel($event)``` as well.

Let m

[2018-11-09 11:19] #33 closed

[2018-11-09 11:21] tmeghe commented on #33
Hey @ShankyTiwari,

Thanks for the really quick reply, however, that's what I've done and I have no event showing up. However, it's working fine with `selectedLabel` directive, that's why I was wondering what I've been doing wrong.

`selectedLabel` works fine (it emits the node), but `selectedItem` doesn't emit anything.

[2018-11-09 11:31] tmeghe commented on #33
Yes but `selectedItem()`doesn't emit anything ! My menu is built like that (with a recursive function) :

- Root (node)
  - Child 1 (node)
    - Children (item)
    - Children (item)
    - ... etc
  - Child 2 (node)
    - Children (item)
  - ... etc

If I use `selectedLabel()` on `Child 1` it emits an object with the tree of `Child 1's` children. I expect `selectedItem()` on `Children` emitting th

[2018-11-09 11:35] ShankyTiwari commented on #33
Okay, I understood.
Can I ask you to take a clone of [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo) and crosscheck with it?
Please let me know if you are still facing the issue.

[2018-11-09 11:52] tmeghe commented on #33
I've tested with the `ng-material-multilevel-menu-demo` repo and it works flawlessly. I reproduced exactly the same behavior in my own code, and it doesn't work.

When I installed node packages before running the `ng-material-multilevel-menu-demo` there was few npm warnings :

[code]

Regarding my code, and the fact that `selectedItem()` doesn't work for me, could it be related to a dependency con

[2018-11-09 11:57] ShankyTiwari commented on #33
That repo is in Angular 7, that's why you are getting these warning.
It has nothing to do with dependencies can you share your array here?

[2018-11-09 12:05] tmeghe commented on #33
I think I found what is the problem, my `Children` items are the only items with the `link` property. Just for testing purposes, I removed the `link` property on those items and the `selectedItem()` method emit the item. It doesn't work in the case where `Children` have a link property and therefore use the router to navigate where they are supposed to.

Was my explanation clear enough ?

Fyi, my

[2018-11-09 17:47] ShankyTiwari commented on #33
Yes, you are correct.

[2018-11-10 08:32] tmeghe commented on #33
Is it a standard behavior or will you fix it in a future release ?

[2018-11-10 16:28] ShankyTiwari commented on #33
Hi @tmeghe , that is the standard behavior. First, it checks the ```link``` property. If found then it will redirect to that link if not found then it will emit the node.

[2018-11-10 18:10] tmeghe commented on #33
Thanks for your answer, is there a workaround allowing to emit the node first then redirect to the link provided by the `link` property ? It would be nice to have that feature, in some case it can be useful to emit the node (for instance some data to some service) and navigate to a link.

[2018-11-11 03:46] ShankyTiwari commented on #33
Yes, I was actually thinking about this. I will add this feature in next update.
Thanks

[2018-11-13 13:41] JoaoPortella commented on #28
Hi @ShankyTiwari
ng-material-multilevel-menu@4.9.1 requires a peer of @angular/common@^6.0.0-rc.0 || ^6.0.0
Please, update dependencies...
Thanks in advance!!

[2018-11-21 01:34] ershad1 opened #34 "Able to drag resize the width of Sidenav"
It will be nice to able to drag and resize the menu width.

[2018-11-22 09:10] StavM commented on #31
Shanky hope you can take some time and look at this, it's in the recursive function and I suspect it's a bit tricky. only thing stopping me from taking this component to tests & production.

[2018-12-05 06:59] ershad1 opened #35 "Show and Hide menu based on permission"
Please guide me if there any way i can show or hide menu based on permission or any kind of condition.

[2018-12-05 12:14] StavM commented on #35
user's menu object should come from the server, you should handle permissions there

[2018-12-08 23:59] nhowarth70 commented on #31
Just to add, adding any angular links causes the menu item NOT to be selected. Not sure if its connected or its a different bug?
**For example : menu item IS selected without links**
` items: [

        {
          label: 'Create Organization',
          link: 'organization-wizard',
          icon: 'add'
        },
        {
          label: 'List Organizations',
          link: 'organization-list

[2018-12-09 03:46] #35 closed

[2019-01-11 02:06] jijoece opened #36 "Where can I find the code for the examples in the demo ?"
Hi,

Could you please let me know where can I find the code for the demo examples in the below link ?

http://plugins.codershood.info/#/plugins/ngmm-plugin

[2019-01-11 02:19] #36 closed

[2019-01-14 22:10] jijoece opened #37 "Not installing on Angular 7"
Hi,

I'm getting the below warning when running the project with gulp in Angular 7.1.1. Please update the dependencies.

npm WARN ng-material-multilevel-menu@4.9.1 requires a peer of @angular/common@^6.0.0-rc.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN ng-material-multilevel-menu@4.9.1 requires a peer of @angular/core@^6.0.0-rc.0 || ^6.0.0 but none is i

[2019-01-15 09:58] ZakariaBouskif opened #38 "Probleme"
i have this probleme i add NO-SCHEMMA But Noting please help
Uncaught Error: Template parse errors:
Can't bind to 'configuration' since it isn't a known property of 'ng-material-multilevel-menu'.
1. If 'configuration' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
2. To allow any property add 'NO_ERRORS_SCHEMA' to the '@NgModule.schemas' of this comp

[2019-01-16 18:02] jijoece commented on #37
Here is the stackoverflow link with details on this issue. [https://stackoverflow.com/questions/54222824/ng-material-multilevel-menu-not-working-in-angular-7](url)

[2019-01-16 19:16] Nabelops commented on #37
Yeah it seems the links don't work with routing in Angular 7

[2019-01-25 06:31] #37 closed

[2019-01-25 06:41] ShankyTiwari commented on #34
Thanks @ershad1 for your suggestion, But I think it is out of this plugins scope. I think you can manage it using Custom Directive or Local variable.

Thanks

[2019-01-25 06:41] #34 closed

[2019-01-27 14:31] jcanning opened #39 "Overriding Menu Items Styles"
Hi,

I am looking to make the menu items smaller for both the icon and the text. Is there any way to do this easily? I try to override your styles but none of it seems to take.

Do you have any suggestions on doing this?

[2019-01-28 06:49] ShankyTiwari commented on #39
@jcanning Did you try using custom ```classname``` with ```!important``` css? Also, [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo) might help you.

[2019-01-28 06:51] ShankyTiwari commented on #36
I hope you found the examples you were looking for, sorry for extremely late reply.

[2019-01-28 20:21] jcanning commented on #39
Hi @ShankyTiwari I did try using a custom class name with !important in css but it only changes icon and text of other mat-icons/text outside of your navigation. Some how your navigation is ignoring my changes.

[2019-01-30 05:39] ShankyTiwari commented on #39
Hi @jcanning  sorry for delayed reply. Can you please create a small repo, So I look into it ?

Thanks,

[2019-01-30 19:20] jcanning commented on #39
Hey @ShankyTiwari no worries on the delay.

I can do that but I would guess its more my lack of knowledge than anything. Do you have any examples of overriding the styles i can view where it adjusts the font and icon size of the menu? That will likely answer my question.

[2019-01-31 03:05] ShankyTiwari commented on #39
Yes, I have an example of the style overriding, but not for the icon and text. In **[this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)** I have done styling of Menus, let me know if it helps.

Thanks

[2019-02-20 14:19] HeywoodFloyd918 opened #40 "Where can i find code of demo number 3?"
I can't find code examples for your demo, it would be amazing if you could help me.

[2019-02-21 04:54] ShankyTiwari commented on #40
@HeywoodFloyd918 , in this [Repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo), hope it helps.

Thanks

[2019-02-21 04:54] #40 closed

[2019-02-21 08:17] HeywoodFloyd918 opened #41 "How can I dynamically set a class name for a menu item? Or style?"
Thank's for my last question answer, i have another one

[2019-02-25 05:01] ShankyTiwari commented on #41
Sorry for the delayed reply, I was on vacation. Yes, dynamic configurations works in this package.
[code]
Somewhere in the same compoent
[code]

[2019-02-25 05:01] #41 closed

[2019-02-25 05:02] ShankyTiwari commented on #39
closing due to inactivity, feel free to reopen this issue.

[2019-02-25 05:02] #39 closed

[2019-03-02 06:08] crawlinknetworks opened #42 "svgIcon support"
Can you please add support for SVG ICONS in menu item. like below.

    <mat-icon svgIcon="ic-my-icon-name"></mat-icon>

[2019-03-02 14:52] ShankyTiwari commented on #42
@crawlinknetworks I'll look into ASAP.

[2019-03-05 14:17] Jerome2009 opened #43 "Missing list of packages to add to your project"
Hi
When i use yarn to add the module:
`yarn add --save ng-material-multilevel-menu`

I get this error:
`yarn add v1.13.0
error Missing list of packages to add to your project.
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.`

[2019-03-05 14:33] Jerome2009 commented on #43
The yarn command was wrong. It must be without the -save:
`yarn add ng-material-multilevel-menu`

[2019-03-05 14:33] #43 closed

[2019-03-06 20:18] marcusreese opened #44 "Demo page would not open for me"
I tried twice to open http://plugins.codershood.info/#/plugins/ngmm-plugin

My Chrome browser says:

[2019-03-06 21:16] stefan-karlsson opened #45 "Remove peer dependency warnings for Angular 7"
Been using the package for a short while with Angular 7 and I can't find any issues with it except the warnings rendered.

[code]

[2019-03-07 02:46] ShankyTiwari commented on #44
Oh please try after some time, it should open.

[2019-03-07 02:46] #44 closed

[2019-03-07 04:54] marcusreese commented on #44
Okay, now I can see it. Thanks.

[2019-03-13 06:56] ShankyTiwari commented on #45
Hi @stefan-karlsson , Thanks for the PR.

[2019-03-13 06:56] #45 closed

[2019-04-06 03:29] dkteam opened #47 "RouterLinkActive, I don't see"
Hey bro,

[Sorry for my bad English]
Can you add RouterLinkActive="class-active-name" property to RouterLink.
So we can custom the Acitve Link.
Example:

![image](https://user-images.githubusercontent.com/34706356/55664407-3bc9f100-5857-11e9-8fbc-3093324bccce.png)

And then,
we can edit "acitve-class":
.active-class{
border-left: 4px solid red;
}

https://angular.io/api/router/RouterLinkActive

So

[2019-04-07 19:51] ShankyTiwari commented on #47
Hey @dkteam , I think you modify the selected item. Can you please check [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo), it has all the demos. Let me know if it doesn't work for you.

[2019-04-08 01:58] dkteam commented on #47
Hey @ShankyTiwari ,
You mean ".selected-amml-item" class? This class effected activated link and father links.
I don't know what class only effect to activated link?

[2019-04-11 10:11] pradeepthota07 opened #48 "Interface with route with query params"
Hi,

I see interfaceWithRoute doesn't work when there are query params in the url. Please let me know if I can achieve this in some other way.

Thanks,
Pradeep

[2019-04-11 10:21] ShankyTiwari commented on #48
hi @pradeepthota07 , can you cross check your code with this repo? Let me know if things doesn't work for you.

[2019-04-11 10:53] Harshi7016 commented on #48
Hi,

Even I face the same issue using ng-material-multilevel- menu, If some details are appended with the link that is specified as reference, It is unable to decide and highlight the corresponding menu.

Thanks,
Harshith

[2019-04-12 05:25] Harshi7016 commented on #31
Hi,
The issue I have been facing is similar to the bug that is found above, @ShankyTiwari  sir, Can you please look into this and help us out

Thanks,
Harshith

[2019-04-12 05:43] ShankyTiwari commented on #31
@nhowarth70 sure I'll look into from last few months I am very very busy in my day work + plus other activities. But in the next coming week, I'll surely work on these issues.

[2019-04-12 05:45] ShankyTiwari commented on #48
@Harshi7016 can you please create a small repo for this, It would be a huge help. Thanks

[2019-04-12 05:46] Harshi7016 commented on #48
Hi @ShankyTiwari

The issue that I am facing right now is similar to the issue raised.

some routes don't "activate" the corresponding menu item when redirected by angular #31

Thanks,
Harshith

[2019-04-16 23:24] ShankyTiwari commented on #31
Hi @StavM , I looked into the Stackblitz Demo. I found that when we click on Home Link it redirects to the route '/aa'.
`<a routerLink='/aa'>GO HOME </a>`

But in the appitems, we have never specified the route '/aa' as shown below.
[code]
The module needs accurate links to work properly. If we change route `/aa` to route `/aa/a`, it is working as expected.
@StavM if you have some other please do

[2019-04-16 23:26] ShankyTiwari commented on #31
Hi @nhowarth70 , You forgot to add `/` in front of the links, please add `/` it will work properly as shown below,

[code]

Thanks

[2019-04-17 01:24] Harshi7016 commented on #31
Hi @ShankyTiwari

What if there are few extra attributes present along with the link like in the above example if the link is /organization-list?list=1213 or something the menu is not getting highlighted
Is there a way where we can use regular expression or some other property like pathMatch or something similar to make it happen

Thanks,
Harshith

[2019-04-17 01:27] Harshi7016 commented on #31
I am new to creating repo
Since the repo created here is almost similar to the problem that I am going through, I was following the same.

Thanks,
Harshith

[2019-04-17 03:39] ShankyTiwari commented on #48
Hi @pradeepthota07 @Harshi7016 guys take a look this [demo](), see if it solves your problem.

Thanks

[2019-04-18 04:49] ShankyTiwari commented on #31
@Harshi7016 Have look at the demo I have provided in #48 that will solve your problem.

[2019-04-23 11:24] Harshi7016 commented on #48
@ShankyTiwari  Thank you so much Sir
This has really helped me a lot
I would like to really appreciate the effort you have put to guide me through this.

Thanks,
Harshith

[2019-04-26 07:04] Harshi7016 commented on #48
Hi @ShankyTiwari
Thank you so much for giving a detailed and quick reply and I have followed the same and have got the required result
Thanks again for taking your time to look after this and providing the solution at a much faster rate

Regards,
Harshith

[2019-04-26 07:13] ShankyTiwari commented on #48
@Harshi7016 Cool and glad I could help.
@pradeepthota07 I hope you have also solved your issue if things don't work out for you please feel free reopen this issue.

[2019-04-26 07:13] #48 closed

[2019-05-01 09:11] ShankyTiwari commented on #47
Hi, @dkteam I have added a new class for the currently selected menu, have a look.
## Default classes
* ```selected-amml-item```: This class will be applied to currently selected link and it's father links.
* ```active-amml-item```: This class will be applied to the currently selected link.

[2019-05-01 09:11] #47 closed

[2019-05-01 09:13] ShankyTiwari commented on #42
Hi, @crawlinknetworks sorry for the delay, I have added the support for SVG icons in the menu item.
Thanks

[2019-05-01 09:13] #42 closed

[2019-05-01 09:19] ShankyTiwari commented on #16
@ershad1 Have you tried using ```_outline``` prefix? Also, I feel this issue is out of the scope of this module, hence am closing it. But if you have any question or suggestion please feel free to reopen.

Thanks.

[2019-05-01 09:19] #16 closed

[2019-05-04 13:21] ShankyTiwari commented on #31
Am closing this issue due to inactivities, feel free to reopen.

[2019-05-04 13:21] #31 closed

[2019-05-17 10:35] packe100 opened #51 "Custom appearance when mouse over"
Hi! Thank you for this great library! I found it very intuitive and effective.

But I have a particular need.
I want to do custom styling on the list items when mouse over event if fired.

So I tryed to sec my custom class name in my component, and then setting the :hover css modifier, but nothing seems to happen.
I'm new about angular and probably I'm doing something wrong.
Thanks for support.

m

[2019-05-19 09:16] ShankyTiwari commented on #51
Try writing CSS in styles.css file as shown below, it will work.
[code]
OR
[code]

Thanks,

[2019-05-19 09:16] #51 closed

[2019-05-19 18:40] packe100 commented on #51
Hi Shanky,
thanks a lot for your answer... it worked!

But I don't understand why that styling dosn't have any effet if placed in component's css...

[2019-05-20 10:38] StavM commented on #51
It won't work because of [this line](https://github.com/ShankyTiwari/ng-material-multilevel-menu/blob/34124d7d29b6c887605b205b7a4deaa2e3b081db/projects/ng-material-multilevel-menu/src/lib/list-item/list-item.component.html#L2) in the HTML template, getting its value from [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu/blob/34124d7d29b6c887605b205b7a4deaa2e3b081db/projects/ng-mat

[2019-05-22 07:09] am-awais opened #52 "disabled and specific classes functionality in angular-material-multilevel-menu"
I get what I need except disabled and different classes feature for nested angular material menu Is it possible to do that or suggest me any other angular material nested menu

What I need:

I need to disable some menus for specific users, it's done by either class or disabled attribute

Its a good feature although and of very common use.

[2019-05-22 09:39] ShankyTiwari commented on #51
@packe100 And if you want to write this styling in component.css then you will have use ```ng-deep```. Otherwise, styling won't have any effect if placed in the component's CSS.
That's how it works.

[2019-05-22 10:02] packe100 commented on #51
Ok, I didn't get it was an inline style.
Thanks for explanation!

[2019-05-22 10:16] packe100 commented on #51
Thank you for for explanation.
I've taken a look at official documentation too.

The point is that the styling defined in component.css has effect only on the elements defined in the component template, not the children. Is it right?

So my new styling in component.css is

[code]

[2019-05-25 07:16] ShankyTiwari commented on #52
Hi @am-awais
1. This package does not support disabled menu item and Ideally, the disabled menu item should be handled from the server only (You should send array from the server).
2. This package has different classes for respective nested menus, for example, ```level-1```  and ```level-2```.

This [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo) has few examples in it, pl

[2019-06-12 08:00] am-awais commented on #52
Still i didn't find my answer in above repo examples!
1- there is no option in array for disable attribute either form server
2- yes but i told you i need to disable some specific menu item for that i need extra class other then built-in classes like level-1.
Can you provide me stackblitz of my query solution? Please!

and if disabled feature is not supported then specific class feature must be in

[2019-06-13 21:13] g4b0-88 commented on #42
How can I implement this attribute (svgIcon)?

[2019-06-19 08:55] ershad1 opened #53 "Internationalization using ngx-translate"
Hi, I wan to translate using ngx-translate/core.
The way i know to use ngx-translate in the following way.

    <h1>{{ 'demo.title' | translate }}</h1>

    <p [translate]="'demo.text'"></p>

    <p translate>demo.text</p>

https://www.codeandweb.com/babeledit/tutorials/how-to-translate-your-angular8-app-with-ngx-translate

How do i use it in
appItems = [
    {
      label:'Employee' ,
      icon:

[2019-06-19 14:16] ershad1 commented on #53
My solution is,
  private langChangeSubscription!: Subscription;

  constructor(private translateService: TranslateService) {
  }

  ngOnInit(): void {

    this.translateService.get('employee').subscribe(employee => this.employee = employee);
    this.appItems = [{
      label: this.employee,
      icon: 'person_outline',
      link: 'hrm/employee'
    }];

    this.langChangeSubscription = this.

[2019-06-19 14:16] #53 closed

[2019-06-22 09:39] StavM commented on #52
@am-awais you are correct. there is no unique class for each node.
but, you can always select it via css using the material `ng-reflect-level` attribute.

so it's something like
[code]
* yes,  `::ng-deep` is deprecated but its what you got at the moment.
[Stackblitz demo](https://stackblitz.com/edit/angular-vf7qwf?file=src/app/app.component.css)

![image](https://user-images.githubusercontent.com/

[2019-06-25 05:45] narendra-sharma opened #54 "tab auto selected when page is reloaded or refreshed"
i want my tab pre-selected when i reload the page or directly comes to this route in angular 7. Currently it is working on onClick method. Can you please add this feature in future updates?

[2019-06-26 11:02] Aini452 opened #55 "I need to know where I amon the tree"
Hi!

I need to know on a click if this is a Label or an Item.

I've seen the two methods.
(selectedItem)="selectedItem($event)"
 (selectedLabel)="selectedLabel($event)"
but Ive mine on a click and this is when i need to know where i am on the tree.
(click)="toogleSidebar()"
Thx !

[2019-06-27 13:01] karthikn21 opened #56 "can we use children instead of items in the collections, and also what if we can do for two way binding"

[2019-06-27 14:17] AzamatRasulov opened #57 "Getting TypeError: _co.selectedItem is not a function"
HI. I'm getting pointed above error with initial setup. I'm on Angular 8.0.1, Angular Material 8.0.1 installed.

Routing also doesn't work, due to the issue, I guess.

[2019-06-28 09:02] karthikn21 opened #58 "can we do expand and collapse all childrens from the component level?"

[2019-07-07 10:50] ShankyTiwari commented on #52
Okay, @am-awais @StavM  am working on it, sorry for the delay.

[2019-07-07 11:10] ShankyTiwari commented on #52
**1. Disabled menu:**
![Bug fix 1](https://user-images.githubusercontent.com/15548024/60767428-ad733e80-a0d5-11e9-9e42-278ba3ddcc32.png)
**2. Unique classes for each node:**
![Bug fix 2](https://user-images.githubusercontent.com/15548024/60767432-c2e86880-a0d5-11e9-83f1-aedd479dcfb6.png)

**These features will be available in the next update.**

Thanks

[2019-07-07 11:13] ShankyTiwari commented on #54
@narendra-sharma it's already there, take look at this [repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo)

[2019-07-07 11:13] #54 closed

[2019-07-07 11:43] ShankyTiwari commented on #56
Hi @karthikn21,
1. Can we use children instead of items in the collections:
=> Nope, sorry I'll have to do a lot of changes for that.

2.  If we can do for two way binding:
=> I don't clearly understand your intent here. However, if you want to update the menus based on some conditions (assume, if you have a text box and based on user's input if you want to change the Menu's label) you can easily

[2019-07-07 11:43] #56 closed

[2019-07-09 10:45] am-awais commented on #52
@ShankyTiwari  Thanks

[2019-07-11 13:50] nKlar opened #59 "Using menu without Router"
Hello!
I want to use the NgMaterialMultilevelMenu in my project without the standard angular router. Is it possible? I will use ui router instead. When I import and start to use the menu I get the following error:
`ERROR NullInjectorError: StaticInjectorError(AppModule)[ListItemComponent -> Router]:
  StaticInjectorError(Platform: core)[ListItemComponent -> Router]:
    NullInjectorError: No provi

[2019-07-14 09:28] #57 closed

[2019-07-17 04:43] StavM commented on #59
can you create a small [stackblitz ](https://stackblitz.com/) of the issue ?

[2019-07-18 18:26] nKlar commented on #59
Of course, here it is.
https://angular-b1h7lb.stackblitz.io
At the moment it is not really an issue for me, because I realized that I don't really need the ui router for angular. I just assumed it, because I came from angularjs.

[2019-07-20 19:39] ShankyTiwari commented on #57
Hi @AzamatRasulov,
Am working on a new release of this module with some new features. Can you please tell what was the root cause of the issue? Or something was not right at your end?

Thanks

[2019-07-21 04:49] AzamatRasulov commented on #57
Hi, @ShankyTiwari. That wasn't a bug, but unclear documentation. In the "Usage" section you give an html tag of the component with couple properties (selectedItem, selectedLabel) bound to class methods, which doesn't exists in your example.

Just my inattention🤷‍♂️

[2019-07-21 15:12] ShankyTiwari commented on #57
@AzamatRasulov Noted, Thanks

[2019-07-21 17:52] ShankyTiwari commented on #52
Hi all,
Added two new features **Disabled menu** and **Unique classes for each node** in the [new update](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.10.8).

Thanks,

[2019-07-21 17:52] #52 closed

[2019-07-21 17:55] ShankyTiwari commented on #58
@karthikn21 Sorry for replying late.
I can't give you an exact date when I can add this feature but am working on this one.

Thanks

[2019-07-21 18:03] ShankyTiwari commented on #55
Hi @Aini452,
As far as I can understand from your question is that you want to know **which item is currently selected in the list?** (correct me if am wrong).
In this case, you can save the last selected item somewhere and use it whenever you want.

As of now, this module does not provide a method to give you the currently selected item. And am not sure if this feature falls under the scope of th

[2019-07-21 18:03] #55 closed

[2019-07-21 18:06] ShankyTiwari commented on #59
Okay, then @nKlar closing the issue and feel free to reopen.
@StavM thanks!

Thanks

[2019-07-21 18:06] #59 closed

[2019-07-23 04:54] Anzil-Aufait commented on #52
@ShankyTiwari  , is there any way to add specific class for specific menu item ??

**Like :**

`classname: 'my-class-name`

[2019-07-23 05:48] Anzil-Aufait commented on #41
@ShankyTiwari  , is there any way to add specific class for specific menu item ??

**Like :**

[code]

[2019-07-23 08:14] ShankyTiwari commented on #41
Please refer #52.

[2019-07-23 08:16] ShankyTiwari commented on #52
No as of now, but if you want to access each list item by the class you can do that shown in below image.

![](https://user-images.githubusercontent.com/15548024/60767432-c2e86880-a0d5-11e9-83f1-aedd479dcfb6.png)

Thanks

[2019-07-28 14:52] nazmuddin opened #63 "Dropdown arrow shows in new line."
I simply followed the documentation to create a multilevel menu but i am getting dropdwon arrow on a new line. Here is the screenshot of behavior.

![submenu](https://user-images.githubusercontent.com/10191679/62008813-20fdee00-b160-11e9-88c7-0a112327bac6.png)

I am using `angular 7.2` and `angular material 7.3.7` with `@angular/flex-layout ^7.0.0-beta.19,`

[2019-07-28 15:08] #63 closed

[2019-07-28 15:09] nazmuddin commented on #63
Sorry my mistake i set the main container as display:block so it was causing problem.

[2019-07-29 06:38] AzamatRasulov opened #64 "(selectedItem) gets triggered on any routerLink click"
Hi.

Is it intended to fire (selectedItem) when *any* routerLink on the page clicked? I want to use this event for closing sidebar on mobiles after navigation through your component, but can't use it for reasons showed below.

![Unexpected behaviour](https://i.imgur.com/mAa2uSO.gif)

[2019-08-07 17:17] cityinspain commented on #64
I do not believe that is the intention, and I'm not noticing the same behavior in my own implementation.
Would you mind providing some of your code?

[2019-08-13 17:19] g4b0-88 opened #65 "Highlight on load"
Hi, first of all, I love your menu module, it's excellent and exactly what I needed for my project.

I've been working with it a couple months ago, today I was thinking if there is way to highlight (select) the item that matches the route on the site:

The home app loads on:
![image](https://user-images.githubusercontent.com/8822582/62962331-4fb4cf00-bdc4-11e9-8877-374974a1030e.png)

But the item

[2019-08-14 05:23] AzamatRasulov commented on #64
Sure.

`
import { Component, OnInit, AfterViewInit } from '@angular/core';
import { AppComponent } from 'src/app/app.component';
import { SidenavStateService } from '../dashboard-layout/sidenav-state.service';
import { BreakpointObserver, BreakpointState } from '@angular/cdk/layout';

@Component({
    selector: 'main-navigation',
    templateUrl: './main-navigation.component.html',
    styleUrls:

[2019-08-20 19:03] MehmetSert opened #66 "I want one accordion open at the same time."
Hi,

When I click on the main menu, I want to close other open menus. How can I do that?

Thanks.

[2019-08-20 21:23] cityinspain commented on #66
Unless I'm misunderstanding your question, you need to set the collapseOnSelect property in the config you pass to your menu to true.

[2019-08-20 21:57] plebani opened #67 "Send Query parameters and Router Extras in Router navigation"
I would like to send parameters by clicking on a menu item.

Example:
 items: [
                        {
                            label: 'Default',
                            link: '/demo-one',
                            icon: 'favorite',
                            parameters: 'param=123'
                        },
this.router.navigate ([node.link], {queryParams: node.parameters});

How can

[2019-08-21 07:23] MehmetSert commented on #66
Thank you, as you said I did and it worked. I didn't pay attention to that part.

[2019-08-21 07:24] #66 closed

[2019-08-29 21:06] symeonmattes opened #69 "Order is wrong"
Hi,

I have put the items in ng-material-multilevel-menu as suggested but the items in the menu are shown in almost alphabetical order instead of the order I have put them. For instance:

`<ng-material-multilevel-menu [configuration]='config' [items]='menuItems' (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>`

[code]
and the way they appear is:

[code]

I've tried to check ho

[2019-08-29 22:10] cityinspain commented on #69
Hi,

I've also encountered this. I'm fairly certain that it occurs when a single list item has too many children, although I haven't been able to figure out why. I'm fairly certain that you can work around this by separating "Categories" into a few sublists. Would you mind sharing your code, so I can look into it?

[2019-08-29 22:43] cityinspain commented on #65
Would you mind sharing your code?

[2019-09-05 11:51] knpaing commented on #69
Hi,

I'm having the same issue too though I don't have long children on menus. Here is my menu:

 appitems = [
    {
      label: 'Dashboard',
      faIcon: 'fas fa-th',
      link: 'dashboard',
      selected: true
    },
    {
      label: 'Sales',
      icon: 'attach_money',
      link: 'sales'
    },
    {
      label: 'Purchases',
      icon: 'money_off',
      link: 'purchase'
    },
    {

[2019-09-05 12:25] symeonmattes commented on #69
Hi...I haven't checked what you're saying. It doesn't make sense to change the order regardless of whether the list is short or long. Unfortunately it's not an opensource project so I can't give it to you. If you make in angular a page and you put what I have said when I started the issue including:

[code]
you will have the same result

[2019-09-05 12:35] knpaing commented on #69
Hi,

Thank you for your reply. I just tested and when the menu list goes over 10 items, it goes weird with the orders. I mean not including the children in my case. Can you please check with 10 menu items and then add another one?

Thank you for the great work!

[2019-09-08 08:17] ShankyTiwari commented on #69
Okay, I'll check it ASAP and sorry for replying late.
Thanks.

[2019-09-08 08:19] ShankyTiwari commented on #67
Yes, it's possible. But unfortunately, I get very limited time due to my day job. I'll add this feature it ASAP and sorry for replying late.
Thanks.

[2019-09-08 08:21] ShankyTiwari commented on #65
Hi @g4b0-88 can you please create share a small repo? That would be a great help.
Thanks,

[2019-09-08 08:33] ShankyTiwari commented on #64
Hey sorry for replying late, I got your point.
(selectedItem) should be fired, whenever you will click on a router link on the page, which is added in the multilevel menu; not on any other random router link on the page.
And if that's happening then it's a bug, I'll check and try to solve it ASAP.
Thanks

[2019-09-09 12:29] sauravg666 commented on #69
getting this error in browser's console

NgMaterialMultilevelMenuComponent.html:1 ERROR TypeError: Cannot read property 'length' of undefined
    at Object.eval [as updateDirectives] (NgMaterialMultilevelMenuComponent.html:1)

[2019-09-09 12:45] kunalvats1 opened #70 "Routing not working"
appitems = [
    {
      label: 'Customer',
      icon: 'sentiment_satisfied_alt',
      items: [
        {
          label: 'Views',
          link: '/cardView',
          icon: 'remove_red_eye'
        },
        {
          label: 'Add Customer',
          icon: 'person_add',
          link: '/newCustomer'
        }
      ]
    }
]

why the link is not workable when i click on sidenav item the

[2019-09-09 12:45] kunalvats1 commented on #70
Here is the html code

<ng-material-multilevel-menu [configuration]='config' [items]='appitems'>
        </ng-material-multilevel-menu>

[2019-09-11 06:21] #70 closed

[2019-09-13 05:44] sudharsan203 opened #71 "ERROR in src/app/app.module.ts(36,48): error TS2307: Cannot find module 'ng-material-multilevel-menu'."
![image](https://user-images.githubusercontent.com/39620680/64840082-7c544480-d617-11e9-956a-44d9d864c541.png)

When i am importing it is showing

[2019-09-13 09:31] sudharsan203 commented on #71
For Version Angular 8.0 it is working form me but for angular 6.0 not working.

[2019-09-13 10:13] ShankyTiwari commented on #71
@sudharsan203, You just need to update your dependencies to 6.1.

[2019-09-13 10:13] #71 closed

[2019-09-13 10:57] sudharsan203 opened #72 "color is not highlighting when i click two times on main menu"
I selected Rms link RMS Menu
![AA](https://user-images.githubusercontent.com/39620680/64860131-d7069400-d649-11e9-9985-36e096df8d75.png)
.it is working fine But
When i click again on RMS Menu the highlighting color for selected Rms link is not coming
![AA](https://user-images.githubusercontent.com/39620680/64860201-0d441380-d64a-11e9-8a5e-560b311cef06.png)

[2019-09-13 11:01] sudharsan203 commented on #71
@ShankyTiwari ,Ok Thank you I had face one more issue #72

[2019-09-13 11:04] sudharsan203 commented on #72
@ShankyTiwari, would you please suggest me to resolve this issue.

[2019-09-13 11:50] sudharsan203 commented on #72
Thank you Issue is cleared.

[2019-09-13 12:27] ShankyTiwari commented on #72
Can you give me a repo with error @sudharsan203

[2019-09-13 14:04] sudharsan203 commented on #72
Issue Cleared, i Just missed a class.How can i add multiple SVG's.

[2019-09-16 05:24] #72 closed

[2019-09-18 20:29] cityinspain commented on #70
Hi @kunalvats1 ,

I see that you closed this issue without anyone responding to it. Did you end up figuring out why the link wasn't working?

[2019-09-23 15:09] vpotap opened #74 "Expand all on click"
Get some strange behavior , when click on any menu item or submenu ite  in list then all list with all submenu is expanded suddenly  , navigation config is default any fix ?

[2019-10-08 06:33] tonywang160 commented on #69
Hi,  I have the same order issue

`
config: Configuration = {
    paddingAtStart: true,           // boolean => [optional] If you don't want padding at the start of the list item, then you can give false. The default value will be true.
    interfaceWithRoute: true,       // boolean => [required] only if you want to use Angular Routing with this menu.
    highlightOnSelect: true,        // boolean

[2019-10-13 10:30] MehmetSert opened #75 "Different icon in the selected menu item"
Hello,

Is there a feature for specifying different icons in the selected menu item? Or how can I do that?

For example;
imageIcon: 'normal-icon.svg',
activeImageIcon: 'active-icon.svg'

How can I do that?

[2019-10-13 12:21] suraj740 opened #76 "How to apply styles on some condition"
Hi @ShankyTiwari i just want to apply css to already present classes in module like amml-icon-arrow-container, .amml-icon, etc. based on some condition . How can i do that, is it possible?

[2019-10-13 16:17] ShankyTiwari commented on #76
You can do that in ```style.css``` file, for your [reference ](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/blob/master/src/styles.css)

Thanks

[2019-10-13 16:17] #76 closed

[2019-10-13 16:19] ShankyTiwari commented on #75
@MehmetSert , No as of now it's not there. But it's a good feature I'll try to get it on board ASAP.
Thanks

[2019-10-13 16:39] suraj740 commented on #76
@ShankyTiwari Thanks it worked. Thank you very much.

[2019-10-13 18:03] MehmetSert commented on #75
Thanks. Does it comes this feature in one or two days? I immediately need this feature at project  that I worked now.

[2019-10-14 08:36] suraj740 opened #77 "Highlight listItem Menu on First load"
Hi @ShankyTiwari  , during first page load the default listitem is not highlighted on menu.
For example:
const routes: Routes = [{path: '',
  redirectTo: '/pages/home',
  pathMatch: 'full'}]

The current route is not highlighted by default.
Its Highlighted on when we selected the list or type route in url.

Thanks!!

[2019-10-15 01:48] #69 closed

[2019-10-15 03:58] ShankyTiwari commented on #69
Fixed in  [4.11.0](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.11.0).
Here is a [PR](https://github.com/ShankyTiwari/ng-material-multilevel-menu/pull/78).

[2019-10-16 04:03] ShankyTiwari commented on #67
Hey @plebani , this will be pushed & published tomorrow, thanks for patience .

[2019-10-17 03:12] ShankyTiwari commented on #75
Added in [4.11.2](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.11.2)

[2019-10-17 03:12] #75 closed

[2019-10-17 03:15] ShankyTiwari commented on #67
Added in [4.11.2](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.11.2). You just need to take care of the URL, that will be generated after passing the Query Params.
If URL is given in the Array wont match the URL created by Angular Router, then highlighting won't work. Let me know in case of any confusion.

Thanks,

[2019-10-17 03:15] #67 closed

[2019-10-17 07:45] MehmetSert commented on #75
Thank you, I didn't see whether it has use for imageIcon.

[2019-10-19 12:13] MehmetSert opened #79 "Selecting the menu item with the link parameter."
Hello,

When defining the menu item;
[code]

My routing definition is like this;;
[code]

This is how we define, and for example, when I'm in my project on the /dashboard/customers/new page, this menu is selected. No trouble here.

However, I go to /dashboard/customers/detail/{id} and show the customer detail. Is there a way to bring the menu selected when I go to this page?

Thanks in advance.

[2019-10-23 13:34] ShankyTiwari commented on #79
I am aiming to solve this in coming weekend @MehmetSert.

[2019-10-25 20:54] MehmetSert commented on #79
Unfortunately, it didn't. I added the following object in the array of menu elements;
{
           label: 'Customer Detail',
           link: '/dashboard/customers/detail/{id}'
}

When I open the link http: // localhost: 4200 / dashboard / customers / detail / 3, the menu does not appear selected.

[2019-10-28 06:27] iryanjan18 commented on #17
I'm experiencing this issue right now. Here's my package.json file
[code]

[2019-10-28 15:26] knpaing opened #80 "console.log triggering in ng-material-multilevel-menu.js line:514"
Hi,

I just realised that console.log is left there in the mentioned file and had to comment out from printing the menu icons. Please see the attachment. And thank you very much for updating the menu. :)

<img width="1677" alt="Screenshot 2019-10-28 at 9 55 12 PM" src="https://user-images.githubusercontent.com/12625702/67691954-cfb70200-f9cd-11e9-9da5-fdacb948c55b.png">

[2019-10-29 01:10] iryanjan18 commented on #17
UPDATE

After upgrading to latest version, I am now experiencing this issue. I don't want to update my Angular to version 8 because of breaking changes.

Details
[code]

package.json
[code]

Compile warning
[code]

[2019-10-29 01:35] iryanjan18 commented on #17
I came across a (dirty) solution. I went to the line error and removed the first two-special characters and error went away

[2019-11-02 15:24] ShadowQueen opened #81 ""export 'ɵɵdefineInjectable' was not found in '@angular/core'"
Hello,

I am trying to use this lib in Angular 7, but error "export 'ɵɵdefineInjectable' was not found in '@angular/core'" is appearing after lib is installed.

Is it possible to use this lib in Angular 7?
If the answer is yes, what am I doing wrong?

Environment:
_                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ /

[2019-11-03 04:29] ShankyTiwari commented on #81
If possible can you update your App to Angular 8?
If not you try the previous version of the app which works on Angular 7, for eg try these two version [4.9.4](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.9.4) and [4.9.2](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.9.2)

Thanks

[2019-11-03 04:29] #81 closed

[2019-11-04 18:18] ShadowQueen commented on #81
Thank you for the quick answer. Version 4.9.4  is compatible with Angular 7.

[2019-11-08 19:23] johnpankowicz commented on #80
I'm am somewhat glad the log messages were there. Otherwise I would not have seen that the code is calling this routine thousands of times to handle the five icons that I have in my menus! What is it doing and can't this be optimized?

[2019-11-08 19:47] cityinspain commented on #80
@johnpankowicz It certainly shouldn't be running hundreds of thousands of times. Would you mind sharing your menu configuration? I'm having a difficult time reproducing this issue.

[2019-11-08 20:39] johnpankowicz commented on #80
This is my first attempt to use ng-material-multilevel-menu, so I could be doing something very silly. I copied code from one of your samples and modified it's menu layout and left the same config.

[code]

[2019-11-08 20:47] johnpankowicz commented on #80
Here's my html:

[code]

[2019-11-08 21:14] cityinspain commented on #80
I implemented your configuration in the demo app in this repository. While there definitely are many messages being logged, I'm not noticing nearly the same amount that you suggested.

The function in question runs for each item in the menu and performs a check of whether or not its selected, and whether or not it has a separate active icon. Therefore, it will run once for each instance of a menu

[2019-11-08 22:02] johnpankowicz commented on #80
Thanks for trying to help. I was about to create a stackblitz with the code. I first ran the component alone in a bare angular project. When I did this the number of log messages was done 10,000 fold. Now there were only 4 separate log messages for each fontawesome icon. In my main project, I was including the sidebar menu component in a CSS grid. I'll try removing some code at a time to try to fi

[2019-11-09 02:11] johnpankowicz commented on #80
I found the issue. ng-material-multilevel-menu has a conflict with amcharts. As soon as I removed the component that uses amcharts, the endless logging stopped. The particular chart that was being displayed was a "guage" that was being updated with a timeout. This amchart code was also just demo code off of their site as is the  ng-material-multilevel-menu sample code that I am using.

amcharts is

[2019-11-09 12:40] johnpankowicz opened #85 "ng-material-multilevel-menu has a conflict with amcharts"
I found this problem as a result of the console.log messages being erroneously left in ng-material-multilevel-menu.js line:514 #80. I was getting thousands of log messages running basically some sample code from your site, inside of another Angular app. I kept isolating other code until I learned that it was a component that was using amcharts, which was the conflict.

As soon as I removed the com

[2019-11-12 13:17] duard opened #86 "Remove console.log from the component"
![image](https://user-images.githubusercontent.com/36894/68674965-a5b92000-0535-11ea-9353-b28a9213c424.png)

[2019-11-12 15:42] duard commented on #77
Same problem here

[2019-11-16 10:29] #80 closed

[2019-11-16 11:00] ShankyTiwari commented on #80
Sorry, I was on vacation, I will take look at the issue in the evening.
@cityinspain Thanks for your PR I have merged it, I really appreciate it.

[2019-11-16 14:42] ShankyTiwari commented on #86
Fixed in [4.11.3](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.11.3)

[2019-11-16 14:42] #86 closed

[2019-11-16 14:44] ShankyTiwari commented on #80
@johnpankowicz please update the package, the current version [4.11.3](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.11.3).
Meanwhile, I'll check your code.

[2019-12-04 10:52] Sampath-Lokuge opened #87 "Is this not working on IE 11"
Hi,

I have tried to open your demo on IE 11 and it is not working. Is this not working on IE 11? Since Angular Material is working fine on IE 11 I hope the issue is on your module?

![IE 11 Issue](https://i.imgur.com/QbFe40O.png)

[2020-01-22 22:12] walmanarias opened #89 "Font Awesome Icons printing name to console"
the js that  controls and handles using font awesome icons intead of material ones print to the console the name of the icon: here is the line of code that those this:

`getSelectedFaIcon() {
        if (this.isSelected && this.node.activeFaIcon) {
            return this.node.activeFaIcon;
        }
        console.log(this.node.faIcon);
        return this.node.faIcon;
    }`

the line **console

[2020-01-26 09:03] sabbircste opened #90 "How to open a component in a new tab when press Ctrl+Click in this menu"
I want to press Ctrl+Click in a menu to open a component in a new tab. How i can do this?

[2020-01-26 09:07] sabbircste opened #91 "If menu title is long, then how i can apply line break if width exceeds?"
If menu title is too long, then how I can apply line break where width of the div exceeds?

[2020-01-27 16:03] narimanmandi opened #92 "how to apply a custom style for selectedListFontColor property via css"
i have checked the menu items but i couldn't find any specific class to ensure that it is active or not
is there anyway to understand ?
thanks.

[2020-01-31 19:12] majidjam opened #93 "how to open menu items in new tab ?"
i couldn't open menu items in new tab.
how to open menu items in new tab ?

Thanks.

[2020-03-31 20:42] anbalaganr opened #95 "Removing horizontal line and title for menu items"
Hi,

Thank you so much for the awesome plugin. I need some help.

How to remove the horizontal line that appeared for every menu item?

And is it possible to add heading for a group of menu items, something like "THEME" and "COMPONENTS" in the below picture?

<img width="170" alt="Screen Shot 2020-04-01 at 2 08 36 AM" src="https://user-images.githubusercontent.com/32128854/78073036-c4716380-73bd-1

[2020-04-11 07:57] jepperaskdk opened #96 "Bug: dynamically updating menu-items does not update when config is specified"
It appears that when updating menu-items, e.g. from an API-request or timeout, the menu does not update if a config is specified. I created this stackblitz to show the problem:
https://stackblitz.com/edit/angular-jnvf2d

The third item is only updated in the list after 2 seconds, when config is removed in app.component.ts. If a config is provided, the item does not appear.

[2020-04-18 13:12] albinlang opened #98 "Mix routerLink and href"
Is it possible to mix routerLink and href? In my case I want one of the menu links to open an external website preferable in a new tab (target="_blank").

[2020-04-18 13:17] albinlang commented on #98
"externalRedirect: true" seems to solve the external link part of my issue. Is it possible to also specify target blank?

[2020-04-22 08:27] afunworm opened #100 "How to highlight current route?"
I can't get the current route's menu item to highlight itself and I am doing the basic example from your repo with no extra customization.

**app.component.ts**
[code]

The menu items, in this case `Dashboard` and `Help`, won't highlight themselves even if their perspective route was loaded. Am I missing something?

[2020-04-22 11:58] ShankyTiwari commented on #65
Closing new inactivity, feel free to reopen.

[2020-04-22 11:58] #65 closed

[2020-04-24 09:06] ShankyTiwari commented on #98
Fixed in [#4.12.0](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.0), let me know in case of any issue.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:06] #98 closed

[2020-04-24 09:07] ShankyTiwari commented on #93
Fixed in [#4.12.0](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.0), let me know in case of any issue.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:07] #93 closed

[2020-04-24 09:07] ShankyTiwari commented on #89
Fixed in [#4.12.0](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.0), let me know in case of any issue.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:07] #89 closed

[2020-04-24 09:08] ShankyTiwari commented on #90
Fixed in [#4.12.0](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.0), let me know in case of any issue.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:08] #90 closed

[2020-04-24 09:15] ShankyTiwari commented on #85
The `console.log` messages have been fixed, you can check again. The issue should be fixed, just in case if you are still the issue let me know. For now, I will close the issue, feel free to reopen.

Thanks for using ng-material-multilevel-menu.

[2020-04-24 09:15] #85 closed

[2020-04-24 09:23] ShankyTiwari commented on #100
Hi @afunworm , try the below configuration,
[code]
Also, can you take a clone of [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo), This repo has almost all the examples, let me know if you have any issue.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:23] #100 closed

[2020-04-24 09:24] ShankyTiwari commented on #77
Hi @suraj740 , @duard try the below configuration,

config = {
    interfaceWithRoute: true,
    highlightOnSelect: true,
  };
Also, can you take a clone of this repo, This repo has almost all the examples, let me know if you have any issue.

Thanks for using ng-material-multilevel-menu.

[2020-04-24 09:32] ShankyTiwari commented on #96
Hi @jepperaskdk ,
This should be the code, only pushing into data inside the array is not enough.
[code]
Let me know if this doesn't work for you.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:32] #96 closed

[2020-04-24 09:45] ShankyTiwari commented on #95
Hi @anbalaganr I would urge you to clone [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/) and check the demo number **[3](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/tree/master/src/app/pages/layout-variations/demo-three)**; This repo has lot of examples.
The third demo will look like this, where the complete look and feel is changed of this menu,

[2020-04-24 09:45] #95 closed

[2020-04-24 09:48] ShankyTiwari commented on #92
hi @narimanmandi can you try the below config,

[code]
I would urge you to clone [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/) and this repo has lot of examples.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-24 09:48] #92 closed

[2020-04-24 10:50] jepperaskdk commented on #96
Ah cool - it seems to work. Is it because the reference has to change for change-detection to happen? How is that related to the config?

[2020-04-24 11:10] suraj740 commented on #77
Thanks @ShankyTiwari for replying, but issue still persists.
I have cloned this repo, but here also its not working on first app load.
I have attached screenshot for the same.
In screenshot also you can see that home is not highlighted on first load only.

<img width="1399" alt="Screenshot 2020-04-24 at 4 29 02 PM" src="https://user-images.githubusercontent.com/24958883/80206227-9a703180-8649-11ea

[2020-04-24 15:56] ShankyTiwari commented on #79
Hi @MehmetSert ,

here you have to et URL as shown below, this `/dashboard/customers/detail/{id}` wont work.
[code]

Sorry for the delay in replying.

Thanks

[2020-04-24 15:57] #79 closed

[2020-04-24 19:42] ShankyTiwari commented on #77
I see, tomorrow I'll fix it.

[2020-04-24 19:49] ShankyTiwari commented on #96
The `slice()` method returns a shallow copy of an array into a new array object, so basically angular treats that array as a new instance. Hence it worked.

[2020-04-25 06:28] ShankyTiwari commented on #77
Okay, So I check it. There was a problem with URL, the home page is displayed on `/pages/home` and in the array URL of Home was `/`. Due to the different URLs, the menu was not highlighting the Home Label.

I have pushed a new commit and here is commit hash [1554f34dafdb856c3f58071c82b74c2c2138fa62](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/commit/1554f34dafdb856c3f58071c82b

[2020-04-25 06:30] ShankyTiwari commented on #64
Hi @AzamatRasulov Hey sorry for replying late, I checked it and I didn't find any issue with  `(selectedItem)` output event. If the problem still persists, create a working git repo I will surely try to give you a solution.

Thanks for using `ng-material-multilevel-menu`.

[2020-04-25 06:30] #64 closed

[2020-04-25 06:31] ShankyTiwari commented on #64
Feel free to reopen.

[2020-04-25 07:24] suraj740 commented on #77
Thanks @ShankyTiwari,  i had tried /pages/home earlier also but that was not working.
I have pulled your code still the menu is not highlighting on first load.

[2020-04-25 07:59] ShankyTiwari commented on #77
Okay, let me check again.

[2020-04-25 08:45] ShankyTiwari commented on #87
Hi @Sampath-Lokuge , The [https://plugins.codershood.info/](https://plugins.codershood.info/) won't work in IE because it not compiled in `es5`.  But the plugin should work since I have now compiled in `es5`.

Also, I will urge to you check out [this repo](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo) and you can open this [demo](https://multilevel-menu-demo.web.app/) as on IE.

[2020-04-25 08:45] #87 closed

[2020-04-26 20:41] hanyska opened #107 "Color of one list element"
Can we color one element from the list? Not selected, not active

Maybe like this:
![image](https://user-images.githubusercontent.com/32494180/80319107-e8826200-880e-11ea-93aa-43f7f2a1089a.png)

Result:
![image](https://user-images.githubusercontent.com/32494180/80319136-0c45a800-880f-11ea-915f-c42c9678d3d4.png)

[2020-04-26 20:55] hanyska commented on #107
So I will answer myself 😄

![image](https://user-images.githubusercontent.com/32494180/80319543-15377900-8811-11ea-9876-075d8444858a.png)

[2020-04-27 04:45] #107 closed

[2020-04-27 05:09] ShankyTiwari commented on #74
Hi @vpotap  This should have been fixed in the latest build, can you please confirm!

[2020-04-28 19:54] hanyska commented on #8
So how I can translate menu?

[2020-04-29 04:55] ShankyTiwari commented on #8
Hi @hanyska , I see. Did you try to console the menu array?
Adn I assume you did something like this,
[code]

After doing all this, if things don't work for you. Then please share the [https://stackblitz.com/](https://stackblitz.com/) demo, so that I will able to check myself.

Thanks

[2020-04-29 08:01] ShankyTiwari commented on #77
Hi @suraj740 Can you please check again it's fixed now.

[2020-04-29 08:04] ShankyTiwari commented on #58
@karthikn21 Added in [4.12.2](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.2).

Thanks

[2020-04-29 08:04] #58 closed

[2020-04-29 08:05] ShankyTiwari commented on #74
Closing due to inactivity, feel free to reopen.

[2020-04-29 08:05] #74 closed

[2020-04-29 16:39] hanyska commented on #8
I prepared stackblitz: https://stackblitz.com/edit/angular-material-sidenav-generate-nav-fzbnwu

[2020-04-29 18:07] ShankyTiwari commented on #8
hi @hanyska Thank you for sharing the code, here is an updated code on [Stackblitz](https://stackblitz.com/edit/ng-material-multilevel-menu-ngx-translate-dktu9r)

![image](https://user-images.githubusercontent.com/15548024/80630440-dd7b3c00-8a71-11ea-8e4b-0a9c652abd5e.png)

[2020-04-29 18:19] ludufre opened #111 "Stop working on Angular 8 after upgrade from 4.11.3 to 4.12.2 when Prod release"
Hi,

After upgrade from 4.11.3 to 4.12.2 on Angular 8 project with Ionic I receive error when running the project with `production flag`.

Minimal repository with example:

**Working with 4.11.3:**
https://github.com/ludufre/multilevel-angular8-error
[code]

**Not working with 4.12.2:**
[code]
Error:
![image](https://user-images.githubusercontent.com/4112077/80631621-61aad080-8a2c-11ea-9cd3-094cac

[2020-04-29 19:36] hanyska commented on #8
Excellent answer! Thank you for fast answer! :)

[2020-04-30 02:30] ShankyTiwari commented on #111
Hi @ludufre Can you share the full error log?

[2020-04-30 05:29] ludufre commented on #111
This is everything that appears on the Chrome Console:

[code]

[2020-05-04 04:35] afunworm commented on #79
Hello.

I am running into the same issue. I am aware that I can try to set the URL in the `link` but:

Let's say I have the route set up as above:

[code]

And the route definition:

[code]

Is it better to have the module highlight the `Edit Customer` link when either `customers/edit` or `customers/edit/random_customer_id` or even `customers/edit/random_customer_id/name` is routed to? In the end,

[2020-05-10 01:50] afunworm opened #112 "Highlight Menu on Load for Child Routews"
Hello.

I am running into the issue that ng-material-mmultilevel-menu doesn't highlight child routes. I am aware that I can try to set the URL in the `link` but:

Let's say I have the route set up as below:

[code]

And the route definition:

[code]

Is it better to have the module highlight the `Edit Customer` link when either `customers/edit` or `customers/edit/random_customer_id` or even `custo

[2020-05-11 11:53] suraj740 commented on #77
Thanks @ShankyTiwari but still it is not working. Try navigating to localhost:4200 menu is not highlighted until you reload page with http://localhost:4200/pages/home.

[2020-05-24 08:01] suraj740 commented on #77
Thanks @ShankyTiwari  closing this issue as i got the solution.

[2020-05-24 08:01] #77 closed

[2020-05-24 15:20] ShankyTiwari commented on #77
Hi @suraj740 its nice to hear that you have found a solution. Can you please share your solution with us.

Thanks

[2020-05-25 08:22] suraj740 commented on #77
Hi @ShankyTiwari,  it was bug earlier, after you commited your changes it got resolved.
It was mistake from my side,after login i was not navigating my page to the route which i was used in appItems.

[2020-05-25 13:18] ShankyTiwari commented on #77
Alright, Thanks

[2020-05-28 21:11] suraj740 commented on #69
Hi @ShankyTiwari , how to order menu items in aplhabetical order.

[2020-05-28 21:13] suraj740 opened #113 "Order Menu Items"
Hi @ShankyTiwari , is it possible to display menu items in aplhabetical order.

[2020-05-29 04:13] ShankyTiwari commented on #113
Hi @suraj740 It's up to you, sort it at your end then send it to the plugin.

[2020-05-29 04:13] #113 closed

[2020-05-29 13:18] eddiefrank opened #114 "support for @fortawesome/angular-fontawesome icons"
Hello
it is planned to support icons from @fortawesome/angular-fontawesome package
https://www.npmjs.com/package/@fortawesome/angular-fontawesome

[2020-05-29 14:36] cityinspain commented on #114
FontAwesome icons are supported. All you need to do is specify the faIcon property for an item.
For example:
`
{
    label: "An item with a FontAwesome icon",
    faIcon: "fa-acorn"
}
`

[2020-05-29 14:43] eddiefrank commented on #114
not working with  @fortawesome/angular-fontawesome package...
html template for the package should be:
<fa-icon [icon]="faCoffee"></fa-icon>

[2020-05-29 19:50] cityinspain commented on #114
I understand now, sorry.

This project doesn't utilize the npm package, you have to go through FontAwesome's CDN. You can go to their website and sign up to get a link, which you've got to put in a <script> tag in your index.html.

Example:
`<script src="https://kit.fontawesome.com/<your_kit_id>.js" crossorigin="anonymous"></script>`

Hope this helps.

[2020-06-07 13:36] ShankyTiwari commented on #111
Hi @ludufre from the last couple of days, I am trying to understand this issue and I know It's related to Angular services with V9 according to [this](https://github.com/angular/angular/issues/35759).

[code]
In the above error, I am not able to understand what is `a` and `e`? Can you please share the less minified error, please?

Till then, I would suggest you use version [4.11.3](https://www.npm

[2020-06-08 03:18] ludufre commented on #111
I gave up and ended up updating the whole project to Angular 9. Now working without problems.

[2020-06-08 03:18] #111 closed

[2020-06-08 04:14] ShankyTiwari commented on #111
That's great.

[2020-06-20 15:29] symeonmattes opened #116 "No provider for MultilevelMenuService!""
Hi,

I have an angular8 project which I upgraded recently from angular7, since ng-material-multilevel@4.10.8 had some issues on the order. Now I have @4.12.2.

with `ng serve` the application works fine and the multilevel as expected.

However I've installed angular ssr as described in [universal](https://angular.io/guide/universal) and when when I run with the command:

`ng serve --prod --optimiz

[2020-06-22 20:14] ShankyTiwari commented on #116
Hey  @symeonmattes  Thanks for proving the code, I'll check and get back to you

[2020-07-01 09:48] ersamrow opened #117 "Is it possible to select item with id?"
I want to select item with it's id:
      const item = {
        id: t.bID.toString(),
        label: t.bID + ': ' + t.bName,
        type: 1,
        icon: '',
        data: t,
        items: that.subList(t.bQueries),
        onSelected: function () {
          console.log('Block :' + t.bName);
        }
      };

[2020-07-04 14:47] esaesa opened #118 "Error during compiling"
Once i import the module and compile i got error about the package is not compatible with Angular ivy:

`    ERROR in node_modules/ng-material-multilevel-menu/lib/ng-material-multilevel-menu.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of DashboardModule, but could
 not be resolved to an NgModule class.

    This likely means that the library (ng-material-multilevel-menu) which

[2020-07-04 14:54] esaesa commented on #118
This helped me https://stackoverflow.com/a/60410491

[2020-07-04 14:54] #118 closed

[2020-07-04 20:30] esaesa opened #119 "Support divider"
Can you support item as mat-divider to separate menu items into groups as supported in the following angular material documentation:
https://material.angular.io/components/list/overview#lists-with-multiple-sections

[2020-07-04 21:14] esaesa opened #120 "Empty space over first item"
There is empty space over first item.
![image](https://user-images.githubusercontent.com/5354709/86521052-fa563600-be4b-11ea-8ef4-85f71039bc21.png)

[2020-07-13 13:43] mspoerer commented on #112
+1

[2020-07-13 15:34] mspoerer commented on #112
For a Quick Solution see PR: #122

[2020-07-21 09:22] icoker commented on #33
Hi @ShankyTiwari , I'm curious if you ever added this functionality (to use 'link' and selectedItem() at the same time)? If not, do you have plans to add this in a future update?

[2020-07-23 14:38] bennymeg commented on #116
Sam here...

I have fixed it temporarily like this: (add this code to your module)

[code]

[2020-08-04 16:49] andreyBelov commented on #48
Hi
I have a similar problem
In your [demo](https://stackblitz.com/edit/angular-4zqp1c), if I type this string in right panel all works as expected and menu item will highlighted
https://angular-4zqp1c.stackblitz.io/one

but if I try this one, item won't highlighted
https://angular-4zqp1c.stackblitz.io/one?params=anydata

[2020-08-06 04:45] ShankyTiwari commented on #119
Hi @esaesa, As much as I like to have it but this seems out of the scope of the project. Can you please create two menus by adding border to the element ?

[2020-08-06 04:45] #119 closed

[2020-08-06 04:53] ShankyTiwari commented on #120
The padding applied to the menu is because of the Angular's `.mat-list-base` class, I'll Iook into it. Thanks for reporting.

[2020-08-06 05:05] ShankyTiwari commented on #117
Hi @ersamrow this feature is not available yet, But I'll work on it later. Thanks

[2020-08-06 05:07] ShankyTiwari commented on #116
Just out of curiosity, What is this `ɵb` @bennymeg, instance of a Service?

[2020-08-06 05:08] #114 closed

[2020-08-27 23:11] gabriel-gn opened #127 "Is it possible to set custom HTML Entries?"
From the examples, we are currently able only to use a "label" and "icon" as list entry.
Is it possible to render custom html content instead?

[2020-08-30 11:22] AMRALAA10 opened #128 "Support for badges"
Can We set a right badge on menu item?

[2020-08-31 06:07] ShankyTiwari commented on #128
Am not sure what do you mean by the right badge  @AMRALAA10 ?

[2020-08-31 06:33] AMRALAA10 commented on #128
Something like this
<img width="388" alt="Screen Shot 2020-08-31 at 10 30 53 AM" src="https://user-images.githubusercontent.com/11869944/91689482-46380980-eb75-11ea-8a3c-dcdd62000121.png">

[2020-09-07 09:50] Sampath-Lokuge opened #130 "Angular 10+ and Material 10+ Support"
Hi,

Is this working with Angular 10+ and Material 10+? Do you have any plan to upgrade it to the latest versions?

[2020-09-08 11:07] ShankyTiwari commented on #130
Hi @Sampath-Lokuge Have you tried in V 10? Let me know if it doesn't work, I am gonna update it in next weekend.

[2020-09-08 12:30] Sampath-Lokuge commented on #130
Hi @ShankyTiwari
Sure, I'll try that and come back again. Thanks!

[2020-09-08 14:15] Sampath-Lokuge opened #131 "Weird behavior on Angular 10 and Material 10"
Hi,

**_Use case 1:_**

`expandCollapseStatus = 'expand';`

You can see that it has weird behaviors:

1. Need to click 2 times to expand/collapse.

2. When I clicked the top menu item it expands the bottom menu item and vice versa

3. I can't collapse all menu items

Please see the video:

Youtube Video: https://youtu.be/LsRAl25Xv1I

**Use case 2:**

`expandCollapseStatus = 'collapse';`

You can s

[2020-09-08 14:15] Sampath-Lokuge commented on #130
Please see this: #131

[2020-10-07 14:21] mchmiele opened #132 "3 levels and collapseOnSelect: true"
When I have more than 2 levels in menu so for example:

Item1
------ Item1.1
------------ Item.1.1.1

and  collapseOnSelect: true, then when I click on Item1.1, menu is being closed.

It should be detected, that I am going deeper on the same section which is opened and menu should not be closed.

[2020-10-13 14:20] apurv195 commented on #64
@ShankyTiwari  i am also facing same issue, when i use **this.router.navigate(['/application/events/events-list'])** from my component **selectedItem** is also triggered

[2020-11-09 14:23] apurv195 opened #133 "call selectedItem without click on any menu"
1. i have implemented **ng-material-multilevel-menu** in my angular project, it's working fine but, selectedItem call without click on any menu.
2. if i change route from my component without click on menu, the **selectedItem** function was call, so how can i prevent that

`<ng-material-multilevel-menu [configuration]='config' [items]='userAllMenus' (selectedItem)="selectedItem($event)" (selectedL

[2020-11-22 08:20] ShankyTiwari commented on #130
Fixed in[ 4.12.4](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.4).

[2020-11-22 08:20] #130 closed

[2020-11-22 08:20] ShankyTiwari commented on #120
Fixed in [4.12.4](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.4)

[2020-11-22 08:20] #120 closed

[2020-11-22 08:21] ShankyTiwari commented on #116
Should  be fixed with latest version [4.12.4](https://www.npmjs.com/package/ng-material-multilevel-menu/v/4.12.4).

[2020-11-22 08:21] #116 closed

[2020-11-22 12:11] bennymeg commented on #116
That's just the name that the angular compiler gave to your service.

[2020-11-22 15:31] ShankyTiwari commented on #132
Hi @mchmiele Sorry for replying late, am not able to understand  the problem here.
what do you mean by _**menu is being closed**_?

It works perfectly fine on my end as you can see the below demo. Can you give me small repo where you can reproduce the same issue, it would very helpful?

![demo](https://user-images.githubusercontent.com/15548024/99907974-d1a0e100-2d05-11eb-8483-a3f1c1d44cd0.gif)

[2020-11-22 18:27] ShankyTiwari commented on #117
Hi @ersamrow Added in [5.0.1](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.0.1#2-select-menu-by-id), sorry for the delay.
Let me know in case of any issue.

Thanks

[2020-11-22 18:27] #117 closed

[2020-11-22 18:28] ShankyTiwari commented on #116
Hi @bennymeg Are you still getting this with the latest version of the plugin ?

[2020-11-22 18:32] bennymeg commented on #116
I will test and let you know.

I think all you need to do is to export the service as well and update the docs to describe how to set it as a provider.

[2020-11-22 18:32] ShankyTiwari commented on #131
Hi @Sampath-Lokuge, Sorry for the delay.

Thanks for reporting this issue, it was major issue and unfortunately I missed it. I have changed the implementation of this feature slightly, you can find it [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/blob/master/src/app/pages/more-configuration/expand-collapse/expand-collapse.component.ts#L73), now it should be fixed in [5.0.

[2020-11-22 18:32] #131 closed

[2020-11-22 18:35] ShankyTiwari commented on #116
Yeah, now the service now exported in favour of #131 and #117. Let me know if you still see the issue again, I'll check ASAP.

[2020-11-22 18:41] ShankyTiwari commented on #133
Hi @apurv195
Sorry for the delay.

I have added this feature in [5.0.1](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.0.1#3-structure-of-array-to-display-the-list), You can add one more property called as `dontEmit` in the node object as shown below.

This property will apply to the current node only, it won't apply to it's children nodes. The default  behaviour will be the same, i

[2020-11-22 18:41] #133 closed

[2020-11-22 18:51] ShankyTiwari commented on #127
Hi @gabriel-gn , Sorry for the delay. I will check the possibilities how can implement  this with the current  setup. But for sure I understand  this would be extremely flexible  and useful.

Let me check and get back.

Thanks

[2020-11-22 18:52] ShankyTiwari commented on #128
Hi @AMRALAA10 Sorry for the delay, please follow this [issue](https://github.com/ShankyTiwari/ng-material-multilevel-menu/issues/127#issuecomment-731813188).

Thanks

[2020-11-23 11:54] bennymeg commented on #116
@symeonmattes  unfortunately it did not fix the problem.
Also I cannot use the `MultilevelMenuService`, did you exported it?

[2020-11-23 13:01] ShankyTiwari commented on #116
Hi @bennymeg which version you are using? please use the latest one i.e. 5.0.1 [like this ].(https://github.com/ShankyTiwari/ng-material-multilevel-menu-demo/blob/master/src/app/pages/more-configuration/expand-collapse/expand-collapse.component.ts#L67)

[2020-11-23 13:27] bennymeg commented on #116
Sorry, everything works =]

[2020-11-24 00:54] mmaestrini opened #139 "Click on parent and navigate to page and keep children expanded once page loaded"
I have some single menu items and 1 with children.

When I launch my upon (and upon refresh) if I go to the page with children, it routes correctly but it briefly expands the childer underneath but recollapses them right away after the page loads.

From there if i go to another page, and route back to the page with children, I get the proper behavior but not upon first load.

Any reason why that m

[2020-11-25 01:46] ShankyTiwari opened #140 "Add detailed demos in project"

[2020-11-25 02:38] #140 closed

[2020-11-28 00:43] ShankyTiwari commented on #127
Hi @gabriel-gn Sorry for delay.

This feature is now added in version [5.5.1](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.5.1), The documentation is [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu#3-building-custom-templates). You can try to use it, if you are using this plugin and please share your feedback.

Thanks

[2020-11-28 00:43] #127 closed

[2020-11-28 00:44] ShankyTiwari commented on #128
Hi @AMRALAA10  Sorry for delay.

This feature is now added in version [5.5.1](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.5.1), The documentation is [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu#3-building-custom-templates). You can try to use it, if you are using this plugin and please share your feedback.

Thanks

[2020-11-28 00:44] #128 closed

[2020-11-28 00:45] ShankyTiwari commented on #139
Hi @mmaestrini , I understand and I will check this. Can you please share a small repository with me so that I can easily  reproduce  this issue ?

Thanks

[2020-11-28 20:18] ShankyTiwari commented on #112
Hi @afunworm, Are you still looking for solution to this?

I have one solution, which I think we can easily add here. What I can do is provide one more property called ```matchURL```. This property will expect a function that will return either or false and based on that the rest of the flow will continue.

[code]

[2020-11-28 20:22] ShankyTiwari commented on #112
@afunworm In `matchURL()` function, you can write RegEx validator or any other logic to validate the URL of the app.

[2020-11-30 07:26] alexIslander opened #147 "Quality improvement request"
Hi ShankyTiwari,
i found this library not long ago and i can see potential in it. It solves many issues and time to have a great multi level menu in the projects. I discovered a code a bit and i have some code quality improvement points.

I would contribute on it! Kindly let me know how can i contribute and how can i get permission to open PR. (i already have a branch waiting for push).

Regards,

[2020-11-30 07:45] alexIslander opened #148 "Minimized view"
Hi ShankyTiwari,
I'm trying to integrate the menu into my project, which was straight forward according to the documentation. I'd like to go a step further regarding the usage. My project uses Angular Material and the menu is embedded in a drawer/sidebar.

I discovered a possible improvement in the library. It would be the 'minimise' feature. It would do the following:
- with the help of an animat

[2020-11-30 08:54] ShankyTiwari commented on #147
Hi @alexIslander

Thanks for your interest and help, really appreciated. BTW There no such defined approval process, You can simply create a new PR & I'll merge it.

Thanks,

[2020-11-30 09:02] ShankyTiwari commented on #148
Hi @alexIslander

It's a really nice feature to have. iI you are ready with the code, can you please create a new PR?
Also, please work on the latest fork since I have added a lot of examples for the demo. It would be helpful in testing & especially working with custom templates feature.

Looking forward to the PR.

Thanks,

[2020-12-01 13:08] marxsk commented on #112
@ShankyTiwari I like this solution with matchURL. Do you a patch for that anywhere?

[2020-12-01 13:49] marxsk opened #150 "Randomized ID and dynamically changed menu items"
Hi, thanks for a nice module.

In the current setup, it is a bit more complex task to work with menu that (might) change. It is possible that there is a better way of how to do it. If not, I'm willing to prepare PR if you wish :)

* In our case, the menu items are enabled/disabled based on the user role. So we have "all" menu items that is afterwards filtered to get something what user should see.

[2020-12-01 18:18] ShankyTiwari commented on #112
Hi @marxsk For now I don't have any patch for this & I will have to work on it. May be tomorrow I can create a draft for this along with the steps, then you can check and see if it is working for you ?

Thanks

[2020-12-01 18:48] ShankyTiwari commented on #150
Hey @marxsk,

**Point 1:**

Yeah, I think you can manage this easily without adding any extra arrangements. You can change the menu item's disabled property whenever the application detects the role change.
You can refer to this issue #8 and let me know if it works for you.

**Point 2:**
You are absolutely correct. Right now, there is no way we can know the ID of menu items, I should’ve added some

[2020-12-01 21:24] marxsk commented on #150
1) ah, I though that disabled is about not being able to click on the item. In my case they are not displayed at all. I will give it a try

2) ok, I will prepare PR

[2020-12-02 04:50] ShankyTiwari commented on #150
Hi @marxsk

Please try it and if it doesn’t work you can share the the https://stackblitz.com/ demo, so that I will  also check it.

Awesome

Thanks

[2020-12-02 12:48] marxsk commented on #150
(1) ok, so I was right :)  and you as well. The issue is that there is not only "disabled" property [that acts as expected; so item is visible but cannot be activated] but there is also "hidden" propert [that acts as expected].

[2020-12-02 23:06] ShankyTiwari commented on #150
Fixed in [5.5.2](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.5.2).

[2020-12-02 23:06] #150 closed

[2020-12-02 23:11] ShankyTiwari commented on #147
Hi @alexIslander am closing this issue as we have already discussed the next steps [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu/issues/148) and [here](https://github.com/ShankyTiwari/ng-material-multilevel-menu/pull/149#issuecomment-735847670).

[2020-12-02 23:11] #147 closed

[2020-12-02 23:12] ShankyTiwari commented on #147
Please feel free to reopen if you feel appropriate whenever you want.

[2020-12-03 11:55] marxsk commented on #150
Thanks, it works

[2020-12-03 12:00] marxsk commented on #112
@ShankyTiwari ok, I have created my solution for this as my scenario is a bit complex. So it may helps also others.

The main extension is that we have to match also query parameters as some of my links differs only in them. So, I have added a subscription to this.router.events and check for NavigationEnd.urlAfterRedirects and then there is a test if menu items contains ID (v5.5.2+ required) and t

[2020-12-03 14:20] marxsk opened #153 "URL & nested menu"
Let's assume that we have nested menu when item is collapsible (has children, link/onSelected is not defined as it should not change anything). Click on any item means that _currentNode_ is set in selectedListItem(). But when we do mouseOver on collapsible item, we can see that all such items points to same URL.

Ugly hack: in selectedListItem(event):

``
if (event.link || event.onSelected) {
  th

[2020-12-03 15:49] ShankyTiwari commented on #153
HI @marxsk You are correct, The good solution is to not have href if the menu is collapsible and does not redirect to anywhere. I will check this ASAP.

[2020-12-05 09:52] ShankyTiwari commented on #153
Fixed in [5.5.3](https://www.npmjs.com/package/ng-material-multilevel-menu/v/5.5.3), @marxsk You can check this now and let me know in case of any issue.

Thanks

[2020-12-05 09:52] #153 closed

[2020-12-05 11:40] alexIslander commented on #148
I will sen the PR, when i'm ready with the feature.

[2020-12-05 17:08] ShankyTiwari commented on #148
Yup, Works @alexIslander.

[2020-12-07 12:55] marxsk commented on #153
Thanks, the patch works as expected.

[2020-12-17 05:36] alexIslander commented on #148
@ShankyTiwari I have PR, kindly have a look on it.

[2020-12-17 19:18] JEVietti opened #156 "Support Query Params in URL"
Correct me if this is already possible, but it would be nice if the navigationExtras queryParams were read into the actual `<a>` inside of [list-item](https://github.com/ShankyTiwari/ng-material-multilevel-menu/blob/901209d87da1d8946b7521ceaa9d005cf780a36a/projects/ng-material-multilevel-menu/src/lib/list-item/list-item.component.html) so that the interaction could all be handled natively by the b

[2020-12-18 14:21] ShankyTiwari commented on #148
Hi @alexIslander Sure, I'll check in. Weekends. Thanks

[2020-12-22 11:04] otatar opened #159 "Change font size of items"
How to change font size of items. Tried with classname, it doesn't work

[2020-12-22 17:35] taniasg opened #160 "Feature: Label displaying on TitleCase"
The component automatically transform the string to titleCase.
There's a way where we can set how the label is displayed? Like angular pipes
1. lowerCase.
2. upperCase
3. tittleCase
4. capitalize

[2020-12-30 01:49] nielcleo commented on #159
Hi otatar,

you may change the font size by overriding the default scss. try inspecting the element and search for class .anml-items.
or another option is doing custom template for reference please see. [Custom Template Documentation](https://www.npmjs.com/package/ng-material-multilevel-menu#3-building-custom-templates)

Hope it helps.

Cheer!

[2020-12-30 01:56] nielcleo commented on #160
Hi taniasg,

yes by using custom template you may use angular pipes.
for your reference you may check this [documentation](https://www.npmjs.com/package/ng-material-multilevel-menu#3-building-custom-templates)

cheers!

[2020-12-31 06:23] ShankyTiwari commented on #160
Hi, @taniasg Sorry for the delay. From your question, I assume you are using the default List. So in this case you can use a custom class name and use that to apply Stylings as shown below,

**app.component.css:**
[code]

OR

**style.css:**
[code]
Just in case if you are planning to write your template then you have to take care of styling and animation on your own as @nielcleo said.

Please let m

[2020-12-31 06:23] #160 closed

[2020-12-31 06:26] ShankyTiwari commented on #159
Hi, @otatar Sorry for the delay. From your question, I assume you are using the default List. So in this case you can use a custom class name and use that to apply Stylings as shown below,

**app.component.css:**
[code]
OR

**style.css:**
[code]
Just in case if you are planning to write your template then you have to take care of styling and animation on your own as @nielcleo said.

Please let me

[2020-12-31 06:26] #159 closed

[2020-12-31 06:32] ShankyTiwari commented on #156
Hi @JEViett I know am replying extremely late, sorry for that. You can write your custom Template, have a look at the [documentation](https://www.npmjs.com/package/ng-material-multilevel-menu#user-content-3-building-custom-templates) and some [demos](https://multilevel-menu-demo.web.app/pages/layout-variations/demo-six/version-one) along with [code](https://github.com/ShankyTiwari/ng-material-mult

[2020-12-31 06:32] #156 closed

[2020-12-31 06:32] ShankyTiwari commented on #132
Closing due to inactivity, feel free to reopen.

Thanks

[2020-12-31 06:32] #132 closed

[2020-12-31 06:34] ShankyTiwari commented on #139
Closing due to inactivity, Please feel free to reopen.

[2020-12-31 06:34] #139 closed

[2020-12-31 06:50] otatar commented on #159
Thank you @ShankyTiwari, everything is working now. I don't want to write my own template just to change font-size. Maybe it would be best to provide a way to change font size via configuration property binding....actual font size of 16px is a little big for my taste

[2020-12-31 07:06] ShankyTiwari commented on #159
@otatar, Good to hear that.

Actually, the plugin does not set any default font size. Instead, It inherits from the Angular Material specifications as the List template is wrapped from the default `MatListItem` component, which has a `16px` font-size as shown below.

[code]

Thank you for the configuration property suggestion, meanwhile, you can continue using the class name.

Thanks

[2020-12-31 22:59] JEVietti commented on #156
Yes, that will work, I needed to update my package for this project, but it seems to be compatible with Angular 9 on 5.5.3. Would you be open to a feature/pull request in the future to provide more fine grained custom templating? I think it would be useful for cases such as mine where I only want to customize the link template and nothing else.

[2021-01-19 06:39] afunworm commented on #112
Hi.

It looks like it will useful!! Will you patch it somewhere? Do you still need help testing it?

[2021-01-20 02:28] jasonmuriel opened #161 "Expand menu given id or url"
A call that could open menu/submenus when provided the id or url would be a nice feature. If a user is directed to a certain page then the menu could open to the correct location or if the user refreshes the browser the menu would open up to correct page once again. Unless there is another way to achieve this which I didn't see in demos or documentation.

[2021-01-20 21:03] packe100 opened #162 "Even selected Items don't change state"
Hi!
I have an angular 11 application with latest ng-material-multilevel-menu v 5.5.3.
I have a strange issue with my menu.

If I select any odd item, I obtain the expected behavior: the router navigates the link and the item switches to selected state (blue color).
If I select an even item the link is navigated but the item doesn't switch to selected state.

Here is menu data structure inside the

[2021-01-21 19:37] acodesmith opened #164 "Accessibility"
The use of an `<a>` tag without an href attribute does not allow for a user to focus on the expandable item in the list.

Suggestion:
Use a different element, preferably a `<button>` tag. This allows for a user to focus on the element and hit the enter key to open and close the submenu.

Alternative:
Use a hash as the `href` value. Allows for focus, but the native hash change event will need to be

[2021-01-21 21:11] packe100 commented on #162
Good news!
I found the issue: switching the config param "interfaceWithRoute" to false, the menu started working as expected.
Unfortunately I don't know the reason... :(

[2021-01-24 11:53] ShankyTiwari commented on #162
Hi @packe100 Can you please share the small repo so that I can see & work on it.

Thanks

[2021-01-24 11:56] ShankyTiwari commented on #164
Hi @acodesmith It's really a very good suggestion. Would love to work on it in the near future if I will get time.

Thanks

[2021-01-30 11:23] packe100 commented on #162
Thanks @ShankyTiwari for your help.
At the moment I have only the full private repo on bitbucket.
I should fork a little one on github..

[2021-02-03 17:10] doboszt commented on #7
Hi @ShankyTiwari .

Does ng-material-multilevel-menu can handle for example fragments (#) when using routing? For now the menu works fine with routing so when changing url for: **domain.com/example**, the menu is changing the active element.

But when i change the url for **domain.com/example#fragment** the menu cannot correctly regonize it to select a proper item.

Thanks in advance.

[2021-02-11 12:33] otatar opened #165 "Do I need to provide MutliLevelMenuService"
Do I need to provide MutliLevelMenuService? I don't use it explicitly anywhere. I use ng-material-multilevel-menu inside lazy loaded module, and this is the error:

core.js:5967 ERROR Error: Uncaught (in promise): NullInjectorError: R3InjectorError(DashboardModule)[MultilevelMenuService -> MultilevelMenuService -> MultilevelMenuService -> MultilevelMenuService]:
  NullInjectorError: No provider fo

[2021-02-21 20:30] Azhr-Mughl opened #166 "Does internationalisation supported?"

[2021-02-24 06:28] #166 closed

[2021-03-12 21:48] barkhasjsu opened #169 "Can't bind to 'configuration' since it isn't a known property of 'ng-material-multilevel-menu'"
core.js:13967 'ng-material-multilevel-menu' is not a known element:
1. If 'ng-material-multilevel-menu' is an Angular component, then verify that it is part of this module.
2. If 'ng-material-multilevel-menu' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message.

I have followed all steps given in ReadMe.
dependencies added:
 "@

[2021-03-18 18:19] nmgofficial commented on #165
I have the same issue, I have a SharedModule which imports and exports NgMaterialMultilevelMenuModule, but the same error shows.

[2021-03-18 20:10] ghost opened #170 "Add support for iron icons"
Add support for @polymerElements/iron-icons

[2021-03-23 20:44] shanurrahman-gcsns commented on #162
`switching the config param "interfaceWithRoute" to false, the menu started working ` verified and its true

[2021-03-24 19:05] alexIslander commented on #148
@ShankyTiwari kindly check my PR to '155-merge' branch. Thx

[2021-03-26 17:33] mrarguijo2 commented on #116
Esto no me funciono

Esto me funciona perfecto

[2021-03-31 11:01] shoukhat opened #174 "Not able to get the menu work in Angular 11"
Hi,

I have tried all possible ways but am not at all able to get this component work.

I created a simple Angular 11 app, and followed the instructions from the github Readme to install and use, when i run the application all the other controls either are not shown or they are partially rendered. Since, I am new to Angular I am not able to nail the right culprit. Dont know where I am going wrong.

[2021-03-31 11:46] shoukhat commented on #174
I got it working, I had to include MultilevelMenuService in the @NgModule.Providers

[2021-03-31 11:46] #174 closed

[2021-04-02 06:10] victorbritoyi commented on #162
selectedListItem(event: MultilevelNode): void {
    this.nodeExpandCollapseStatus = ExpandCollapseStatusEnum.neutral;
    **if(!event.hasChildren) {
      this.currentNode = event;
    }**
    if (!CommonUtils.isNullOrUndefined(event.dontEmit) && event.dontEmit) {
      return;
    }
    if (event.items === undefined && (!event.onSelected || typeof event.onSelected !== 'function') ) {
      this.s

[2021-04-15 12:51] walvekarnikhil commented on #161
MultilevelNode can have id property, can we use that instead of generating new id every time? This way id can be defined and we can use `selectMenuByID` for browser reload use case.

https://github.com/ShankyTiwari/ng-material-multilevel-menu/blob/1ca630672982f7934f98b3a6ff8b80757e22e0e1/projects/ng-material-multilevel-menu/src/lib/multilevel-menu.service.ts#L20-L27

[2021-05-08 10:49] ersamrow commented on #169
I've facing same issue, is there any solution?

[2021-05-08 16:29] nielcleo commented on #165
Hi @otatar,

To resolve this issue you need to import **_MultilevelMenuService_** as well.
and add it on your providers.

[2021-08-25 11:37] logicielity opened #183 "Menu icons are not visible - Angular 12"
Hi,
I am using this but for some reason icons and chevrons are not rendering. I even followed the example to the letter but still nothing,
![image](https://user-images.githubusercontent.com/39479643/130784028-710d66d2-10fd-4b42-9e79-07bd638cdd0b.png)

[2021-09-27 14:31] gowtham-gb opened #185 "How to add tooltip for manu items"
Thanks a lot for the awesome multimedia library. I am able to achieve all requirements except 1.
How can we add a tooltip for each menu item? Please find the reference screenshot below,
![Picture1](https://user-images.githubusercontent.com/79913434/134929111-3efd6e24-d8cf-48d6-9a0f-a322ae06e9d2.png)

[2021-09-28 10:54] gowtham-gb commented on #185
I am able to achieve a tooltip by using a custom template. Here is the code

         <ng-template #listTemplate let-item="item" let-configuration="configuration">
             <div class="app-menu-item" [dir]="configuration.rtlLayout  ? 'rtl' : 'ltr'">
                 <div class="title-and-image">
                     <div class="icon-container">
                         <span [ngClass]="getClas

[2021-09-28 10:54] #185 closed

[2021-12-06 15:34] mruknowme opened #187 "Second+ level items with SSR"
Only first level menu items are rendered in HTML source with Angular Universal (SSR). Including default and custom template configs.

Is it just me or anybody else is having this issue? Is there any way to make sure those are rendered?

Thanks!

[2022-01-31 08:49] tkarnon opened #191 "ng-material-multilevel-menu with selectedItem/selectedLabel still doesn't work on item with link"
I have installed ng-material-multilevel-menu  succesfully and it works grate.
Noticed that selectedItem/selectedLabel doesn't emit on items **with link**, although case #33 was closed.
I must listen to click events on the items in the menu, in order to write to specific log, weather they have link or not.
Is there a workaround?

[2022-02-10 08:35] abhinavakhil commented on #169
Change the version -> install this version ->"ng-material-multilevel-menu": "^4.12.4",

npm i angular-material-multilevel-menu@4.12.4

Hope this helps.

[2022-03-24 07:17] Shan7anu opened #198 "Getting warning for Ivy distribution for ng-build on Angular 13"
`Generating browser application bundles (phase: setup)...Processing legacy "View Engine" libraries:
- ng-material-multilevel-menu [es2015/esm2015] (git+https://github.com/ShankyTiwari/ng-material-multilevel-menu.git)
Encourage the library authors to publish an Ivy distribution.`

I'm using `"ng-material-multilevel-menu": "^5.5.3"`

Reference: https://blog.angular.io/upcoming-improvements-to-angula

[2022-04-20 08:49] groot432 opened #199 "How to close the other submenu when another item is being clicked"
<img width="490" alt="Screenshot 2022-04-20 at 2 17 57 PM" src="https://user-images.githubusercontent.com/103117393/164189505-2cdbcf58-e43e-4842-a0bd-82b1b6d3ed61.png">
For example in the above screen shot if item 1 is open and user clicks on item 2 ,Item 1 should get closed automatically

[2022-07-06 15:16] harish-kp-reddy opened #204 "Keyboard accessibility for ng-material-multilevel-menu"
This menu lacks the support of Keyboard accessibility. in the project we need this feature please help me.

[2022-07-23 07:59] adhdforge commented on #169
I've facing same issue. any solution yet?

[2022-08-30 22:17] ryhahn1 commented on #79
Hello,

I am running into this same issue. Is there a fix or a work around for this?

[2022-09-07 06:34] nlakshmirajasekhar opened #206 "select label expansion icon works as expand with routing on click on label"
i need to work on the select label text element click works on redirect while i need to use the expansion icon as the expansion toggle which previously works with selectlabel

[2022-11-10 15:05] packe100 commented on #148
Hi, what is the development status of this feature?
Thank you

[2022-11-11 05:04] alexIslander commented on #148
Hi, waiting for review and merge: https://github.com/ShankyTiwari/ng-material-multilevel-menu/pull/171

[2022-11-11 18:21] packe100 commented on #148
@alexIslander thank you for your reply.
If I wanted to try out your work and integrate into my project, wich is the procedure? (sorry for this newbie question..).
I did checkout your branch... now I think I have to compile and produce a package?

Thank you

[2022-11-11 18:43] packe100 opened #210 "Labels not horizontally aligned"
I've noticed a horizontal misalignment of the first level labels: their box doesn't start at the same x-coordinate because of the preceding icons.

![image](https://user-images.githubusercontent.com/49599138/201404697-c036e0a1-7e8e-4a24-86d3-dc0fce49687e.png)

So my solution was to give the icon container a fixed plain width, with the following component css:
`
::ng-deep .icon-container {
  width:

[2022-11-18 05:03] alexIslander commented on #148
The ideal way is when the feature merged and released by the owner of the library @ShankyTiwari .
In case it's not happening you can go down [this](https://dev.to/jsanddotnet/create-an-angular-library-and-consume-it-locally-with-debugging-cma) way.